---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/opscode-manage/1.21.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - c289bce6f248d21767ccd1db1a400277aabc07ef1d7a9d75c1b0d578794869ee
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/opscode-manage/1.21.0/ubuntu/10.04",
          "name" : "opscode-manage_1.21.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "opscode-manage"
          }, {
            "key" : "omnibus.sha512",
            "value" : "4291b3760313922bc5a5116b81c2c72dd12e695e2bccec47a6eb758107664287271ca73fb1394851e731695e915a5180ec37aa769585e6ce6678a9ddd5c9fcc4"
          }, {
            "key" : "omnibus.sha1",
            "value" : "84582862ce47d5f6db1e1ed89021c4b8efbda847"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "10.04"
          }, {
            "key" : "omnibus.architecture",
        [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/opscode-manage/1.21.0/ubuntu/10.04/opscode-manage_1.21.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 271ea00849155a3566a2f0c68091952015d4e46f04af3c1730b6cf92eefd6db5
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:30 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/opscode-manage/1.21.0/el/7/opscode-manage-1.21.0-1.el7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - e9f49440a6a12ff98d086f855fd0631aa44669082271acba168d7de1be0090ef
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:16 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/opscode-manage/1.21.0/el/5/opscode-manage-1.21.0-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 37094bd90bd505e466f63d67e5d0dd8eea3332b9b4c856603666cb8c67f8e829
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:01:34 GMT
recorded_with: VCR 3.0.3
