---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/opscode-manage/1.21.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - c289bce6f248d21767ccd1db1a400277aabc07ef1d7a9d75c1b0d578794869ee
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/opscode-manage/1.21.0/ubuntu/10.04",
          "name" : "opscode-manage_1.21.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "opscode-manage"
          }, {
            "key" : "omnibus.sha512",
            "value" : "4291b3760313922bc5a5116b81c2c72dd12e695e2bccec47a6eb758107664287271ca73fb1394851e731695e915a5180ec37aa769585e6ce6678a9ddd5c9fcc4"
          }, {
            "key" : "omnibus.sha1",
            "value" : "84582862ce47d5f6db1e1ed89021c4b8efbda847"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "10.04"
          }, {
            "key" : "omnibus.architecture",
        [...]
[...]
