---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-server
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 8d50100878a468c069367579e0629b9663f910bccff5ae95fc49cd2f4384ed80
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.8.0+20160831213030",
            "started" : "2016-08-31T22:12:22.342+0000"
          }, {
            "uri" : "/12.8.0+20160901000030",
            "started" : "2016-09-01T00:34:14.185+0000"
          }, {
            "uri" : "/12.8.0+20160831160046",
            "started" : "2016-08-31T17:15:53.855+0000"
          }, {
            "uri" : "/12.4.0",
            "started" : "2016-01-27T20:14:30.725+0000"
          }, {
            "uri" : "/12.8.0+20160825211730",
            "started" : "2016-08-25T23:09:37.243+0000"
          }, {
    [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-server/12.8.0+20160901171028/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - af8d21ddabbca6f45df7a8ac7a842d6ac3992e2a9657232a49d29a78a8c72bcc
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 21:18:49 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-server/12.8.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 303019c7739170be2804ff4a188f9b85f4d291c4008650085cf5ea9125c48288
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-server/12.8.0/ubuntu/12.04",
          "name" : "chef-server-core_12.8.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.project",
            "value" : "chef-server"
          }, {
            "key" : "omnibus.sha512",
            "value" : "8a222303a9398cdc00bac0b75dc00f3ab8b556e1ff450eff873952caa97882ae2c8e406b7d314bd38bb70793acbc6884e4a73e1f8bc45a50aa140e4d78c8c111"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.sha1",
            "value" : "4111123ba0c869e26a069f6d4625ad193e27ec99"
          }, {
            "key" [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef-server/12.8.0/ubuntu/12.04/chef-server-core_12.8.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-server-core_12.8.0-1_amd64.deb.metadata.json";
        filename*=UTF-8''chef-server-core_12.8.0-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 2b6918ce5ae7ade3361437e2449f0539de319fc4
      Last-Modified:
      - Thu, 07 Jul 2016 00:34:55 GMT
      X-Artifactory-Filename:
      - chef-server-core_12.8.0-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 464d368ddcf03d062c7c339d49e3198b
      X-Checksum-Sha1:
      - 2b6918ce5ae7ade3361437e2449f0539de319fc4
      Fastly-Debug-Digest:
      - 676d9f3510a6523582655b4080a702bcc5dd166489a7656933ea5177a19874d1
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef-server-core_12.8.0-1_amd64.deb",
          "md5": "48718e8981ca34719b2bd7ddf01f8046",
          "sha1": "4111123ba0c869e26a069f6d4625ad193e27ec99",
          "sha256": "99fc9f910df86d8de3c413028cdb8ee907f9d4266f517029f4c39e8baf8b5f4b",
          "sha512": "8a222303a9398cdc00bac0b75dc00f3ab8b556e1ff450eff873952caa97882ae2c8e406b7d314bd38bb70793acbc6884e4a73e1f8bc45a50aa140e4d78c8c111",
          "platform": "ubuntu",
          "platform_version": "12.04",
          "arch": "x86_64",
          "name": "chef-server",
          "friendly_name": "Chef-server",
          "homepage": "https://www.chef.io",
          "version": "12.8.0",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://iweb.dl.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.25",
                "locked_source": {
                  "md5": "a47db46cb117805bd6947aa5928a7436",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.25.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.25",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.18.0",
                "locked_source": {
                  "md5": "fd0ba21b3179703c071bbb4c3e5fb0f4",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.18.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.18.0",
                "license": "MIT"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "http://git.savannah.gnu.org/r/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4",
                "locked_source": {
                  "md5": "b32b04148ecdd7344abc6fe8bd1bb021",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "ruby": {
                "locked_version": "2.1.4",
                "locked_source": {
                  "md5": "89b2f4a197621346f6724a3c35535b19",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.4",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.4.5",
                "locked_source": {
                  "md5": "5918319a439c33ac75fbbad7fd60749d",
                  "url": "http://production.cf.rubygems.org/rubygems/rubygems-2.4.5.tgz"
                },
                "source_type": "url",
                "described_version": "2.4.5",
                "license": "MIT"
              },
              "highline-gem": {
                "locked_version": "1.6.21",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.6.21",
                "license": "Ruby"
              },
              "sequel-gem": {
                "locked_version": "4.13.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "4.13.0",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.10.6",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.10.6",
                "license": "MIT"
              },
              "omnibus-ctl": {
                "locked_version": "a0ccf08af008c5fd248a5dcc5af9ff1c48f2a1a9",
                "locked_source": {
                  "git": "https://github.com/chef/omnibus-ctl.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "rest-client": {
                "locked_version": "1.8.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.8.0",
                "license": "MIT"
              },
              "mixlib-install": {
                "locked_version": "b2495ce9db896ce8c9c0444282e67da9d5a62a7b",
                "locked_source": {
                  "git": "https://github.com/chef/mixlib-install.git"
                },
                "source_type": "git",
                "described_version": "v1.0.0",
                "license": "Apache-2.0"
              },
              "private-chef-ctl": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-server-12-build/architecture/x86_64/platform/ubuntu-12.04/project/chef-server/role/builder/omnibus/files/private-chef-ctl-commands"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "ncurses": {
                "locked_version": "5.9",
                "locked_source": {
                  "md5": "8cb9c412e5f2d96bc6f459aa8c6282a1",
                  "url": "https://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.9",
                "license": "MIT"
              },
              "libedit": {
                "locked_version": "20120601-3.0",
                "locked_source": {
                  "md5": "e50f6a7afb4de00c81650f7b1a0f5aea",
                  "url": "http://www.thrysoee.dk/editline/libedit-20120601-3.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "20120601-3.0",
                "license": "BSD-3-Clause"
              },
              "pcre": {
                "locked_version": "8.38",
                "locked_source": {
                  "md5": "8a353fe1450216b6655dfcf3561716d9",
                  "url": "http://iweb.dl.sourceforge.net/project/pcre/pcre/8.38/pcre-8.38.tar.gz"
                },
                "source_type": "url",
                "described_version": "8.38",
                "license": "BSD-2-Clause"
              },
              "openresty": {
                "locked_version": "1.9.7.2",
                "locked_source": {
                  "md5": "78a263de11ff43c95e847f208cce0899",
                  "url": "https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.9.7.2",
                "license": "BSD-2-Clause"
              },
              "libossp-uuid": {
                "locked_version": "1.6.2",
                "locked_source": {
                  "md5": "5db0d43a9022a6ebbbc25337ae28942f",
                  "url": "https://www.mirrorservice.org/sites/ftp.ossp.org/pkg/lib/uuid/uuid-1.6.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.6.2",
                "license": "MIT"
              },
              "postgresql92": {
                "locked_version": "9.2.15",
                "locked_source": {
                  "url": "https://ftp.postgresql.org/pub/source/v9.2.15/postgresql-9.2.15.tar.bz2",
                  "md5": "235b4fc09eff4569a7972be65c449ecc"
                },
                "source_type": "url",
                "described_version": "9.2.15",
                "license": "PostgreSQL"
              },
              "erlang": {
                "locked_version": "17.5",
                "locked_source": {
                  "url": "http://www.erlang.org/download/otp_src_17.5.tar.gz",
                  "md5": "346dd0136bf1cc28cebc140e505206bb"
                },
                "source_type": "url",
                "described_version": "17.5",
                "license": "Erlang-Public"
              },
              "server-jre": {
                "locked_version": "8u74",
                "locked_source": {
                  "url": "http://download.oracle.com/otn-pub/java/jdk/8u74-b02/server-jre-8u74-linux-x64.tar.gz",
                  "md5": "2c244c8071b7997219fe664ef1968adf",
                  "cookie": "gpw_e24=http%3A%2F%2Fwww.oracle.com%2F; oraclelicense=accept-securebackup-cookie",
                  "warning": "By including the JRE, you accept the terms of the Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX, which can be found at http://www.oracle.com/technetwork/java/javase/terms/license/index.html",
                  "unsafe": true
                },
                "source_type": "url",
                "described_version": "8u74",
                "license": "Oracle-Binary"
              },
              "pg-gem": {
                "locked_version": "0.17.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.17.1",
                "license": "BSD-2-Clause"
              },
              "knife-opc": {
                "locked_version": "0b8fa0faedbd136d3f9a2a02efcbdc64004978d0",
                "locked_source": {
                  "git": "git://github.com/opscode/knife-opc.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "popt": {
                "locked_version": "1.16",
                "locked_source": {
                  "url": "http://rpm5.org/files/popt/popt-1.16.tar.gz",
                  "md5": "3743beefa3dd6247a73f8f7a32c14c33"
                },
                "source_type": "url",
                "described_version": "1.16",
                "license": "MIT"
              },
              "perl": {
                "locked_version": "5.18.1",
                "locked_source": {
                  "md5": "304cb5bd18e48c44edd6053337d3386d",
                  "url": "http://www.cpan.org/src/5.0/perl-5.18.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.18.1",
                "license": "Artistic-2.0"
              },
              "cpanminus": {
                "locked_version": "1.7004",
                "locked_source": {
                  "md5": "02fe90392f33a12979e188ea110dae67",
                  "url": "https://github.com/miyagawa/cpanminus/archive/1.7004.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.7004",
                "license": "Artistic-2.0"
              },
              "sqitch": {
                "locked_version": "0.973",
                "locked_source": {
                  "md5": "0994e9f906a7a4a2e97049c8dbaef584",
                  "url": "https://github.com/theory/sqitch/archive/0.973.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.973",
                "license": "MIT"
              },
              "bzip2": {
                "locked_version": "1.0.6",
                "locked_source": {
                  "md5": "00b516f4704d4a7cb50a1d97e6e8e15b",
                  "url": "http://www.bzip.org/1.0.6/bzip2-1.0.6.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.0.6",
                "license": "BSD-2-Clause"
              },
              "python": {
                "locked_version": "2.7.9",
                "locked_source": {
                  "md5": "5eebcaa0030dc4061156d3429657fb83",
                  "url": "https://python.org/ftp/python/2.7.9/Python-2.7.9.tgz"
                },
                "source_type": "url",
                "described_version": "2.7.9",
                "license": "Python-2.0"
              },
              "nodejs": {
                "locked_version": "0.10.35",
                "locked_source": {
                  "url": "https://nodejs.org/dist/v0.10.35/node-v0.10.35.tar.gz",
                  "md5": "2c00d8cf243753996eecdc4f6e2a2d11"
                },
                "source_type": "url",
                "described_version": "0.10.35",
                "license": "MIT"
              },
              "knife-ec-backup": {
                "locked_version": "2.0.6",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.0.6",
                "license": "Apache-2.0"
              },
              "gecode": {
                "locked_version": "3.7.3",
                "locked_source": {
                  "md5": "7a5cb9945e0bb48f222992f2106130ac",
                  "url": "http://www.gecode.org/download/gecode-3.7.3.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.7.3",
                "license": "MIT"
              },
              "perl_pg_driver": {
                "locked_version": "3.3.0",
                "locked_source": {
                  "url": "http://search.cpan.org/CPAN/authors/id/T/TU/TURNSTEP/DBD-Pg-3.3.0.tar.gz",
                  "md5": "547de1382a47d66872912fe64282ff55"
                },
                "source_type": "url",
                "described_version": "3.3.0",
                "license": "Artistic-2.0"
              },
              "libarchive": {
                "locked_version": "3.1.2",
                "locked_source": {
                  "url": "http://www.libarchive.org/downloads/libarchive-3.1.2.tar.gz",
                  "md5": "efad5a503f66329bb9d2f4308b5de98a"
                },
                "source_type": "url",
                "described_version": "3.1.2",
                "license": "BSD-2-Clause"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "nokogiri": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "dep-selector-libgecode": {
                "locked_version": "1.2.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "berkshelf": {
                "locked_version": "d563dc5b5f81f62546d41dd40c43e38986bfcf75",
                "locked_source": {
                  "git": "https://github.com/berkshelf/berkshelf.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "ohai": {
                "locked_version": "f4f28b23ed7ad8fb0357851e371da720a45ade01",
                "locked_source": {
                  "git": "https://github.com/opscode/ohai.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "appbundler": {
                "locked_version": "a8376ff735ec63d6f4e3cffe971223516890239c",
                "locked_source": {
                  "git": "https://github.com/chef/appbundler.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "private-chef-scripts": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-server-12-build/architecture/x86_64/platform/ubuntu-12.04/project/chef-server/role/builder/omnibus/files/private-chef-scripts"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "ctl-man": {
                "locked_version": "7b25fa4de4d6663dafe2cbe853ada29eee67a6a6",
                "locked_source": {
                  "md5": "0c64fd470f8dc780858f9c526dc4ee95",
                  "url": "https://raw.githubusercontent.com/opscode/chef-docs/7b25fa4de4d6663dafe2cbe853ada29eee67a6a6/misc/chef-server-ctl.8"
                },
                "source_type": "url",
                "described_version": "7b25fa4de4d6663dafe2cbe853ada29eee67a6a6",
                "license": "project_license"
              },
              "rb-readline": {
                "locked_version": "cf67cd06ae89e8b2710ba930c3015639240ac7b7",
                "locked_source": {
                  "git": "https://github.com/ConnorAtherton/rb-readline.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "BSD-3-Clause"
              },
              "redis-gem": {
                "locked_version": "3.1.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "3.1.0",
                "license": "MIT"
              },
              "openresty-lpeg": {
                "locked_version": "0.12",
                "locked_source": {
                  "url": "http://www.inf.puc-rio.br/~roberto/lpeg/lpeg-0.12.tar.gz",
                  "md5": "4abb3c28cd8b6565c6a65e88f06c9162"
                },
                "source_type": "url",
                "described_version": "0.12",
                "license": "MIT"
              },
              "runit": {
                "locked_version": "2.1.1",
                "locked_source": {
                  "md5": "8fa53ea8f71d88da9503f62793336bc3",
                  "url": "http://smarden.org/runit/runit-2.1.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.1",
                "license": "BSD-3-Clause"
              },
              "chef_backup-gem": {
                "locked_version": "a402a2ef6e209639e70aa5ec78193c493a9d6f4a",
                "locked_source": {
                  "git": "https://github.com/chef/chef_backup.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "veil-gem": {
                "locked_version": "master",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-server-12-build/architecture/x86_64/platform/ubuntu-12.04/project/chef-server/role/builder/omnibus/files/veil"
                },
                "source_type": "path",
                "described_version": "master",
                "license": "project_license"
              },
              "rabbitmq": {
                "locked_version": "3.3.4",
                "locked_source": {
                  "md5": "61a3822f3af0aaa30da7230dccb17067",
                  "url": "https://www.rabbitmq.com/releases/rabbitmq-server/v3.3.4/rabbitmq-server-generic-unix-3.3.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.3.4",
                "license": "MPL-2.0"
              },
              "redis": {
                "locked_version": "3.0.4",
                "locked_source": {
                  "md5": "9e535dea3dc5301de012047bf3cca952",
                  "url": "http://download.redis.io/releases/redis-3.0.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.0.4",
                "license": "BSD-3-Clause"
              },
              "opscode-solr4": {
                "locked_version": "4.10.4",
                "locked_source": {
                  "url": "http://archive.apache.org/dist/lucene/solr/4.10.4/solr-4.10.4.tgz",
                  "md5": "8ae107a760b3fc1ec7358a303886ca06"
                },
                "source_type": "url",
                "described_version": "4.10.4",
                "license": "Apache-2.0"
              },
              "haproxy": {
                "locked_version": "1.6.4",
                "locked_source": {
                  "url": "http://www.haproxy.org/download/1.6/src/haproxy-1.6.4.tar.gz",
                  "sha256": "e5fa3c604f1fe9ecb6974ccda6705c105ebee14b3a913069fb08f00e860cd230"
                },
                "source_type": "url",
                "described_version": "1.6.4",
                "license": "GPLv2"
              },
              "opscode-expander": {
                "locked_version": null,
[...]
