---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-server
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 8d50100878a468c069367579e0629b9663f910bccff5ae95fc49cd2f4384ed80
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.8.0+20160831213030",
            "started" : "2016-08-31T22:12:22.342+0000"
          }, {
            "uri" : "/12.8.0+20160901000030",
            "started" : "2016-09-01T00:34:14.185+0000"
          }, {
            "uri" : "/12.8.0+20160831160046",
            "started" : "2016-08-31T17:15:53.855+0000"
          }, {
            "uri" : "/12.4.0",
            "started" : "2016-01-27T20:14:30.725+0000"
          }, {
            "uri" : "/12.8.0+20160825211730",
            "started" : "2016-08-25T23:09:37.243+0000"
          }, {
    [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-server/12.8.0+20160901171028/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - af8d21ddabbca6f45df7a8ac7a842d6ac3992e2a9657232a49d29a78a8c72bcc
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 21:18:49 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-server/12.8.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 303019c7739170be2804ff4a188f9b85f4d291c4008650085cf5ea9125c48288
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-server/12.8.0/ubuntu/12.04",
          "name" : "chef-server-core_12.8.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.project",
            "value" : "chef-server"
          }, {
            "key" : "omnibus.sha512",
            "value" : "8a222303a9398cdc00bac0b75dc00f3ab8b556e1ff450eff873952caa97882ae2c8e406b7d314bd38bb70793acbc6884e4a73e1f8bc45a50aa140e4d78c8c111"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.sha1",
            "value" : "4111123ba0c869e26a069f6d4625ad193e27ec99"
          }, {
            "key" [...]
[...]
