---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/12.14.39+20160901040815/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 419078db9e0d290e02c0b58b25260df6c21e65c55e859055a616a977fc4342e5
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 19:20:40 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 6fe0cb89c296ca523062f94443cc0fea088bae322c2f91a6caf55d925f6a8955
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.14.41",
            "started" : "2016-08-30T05:05:40.452+0000"
          }, {
            "uri" : "/12.14.43+20160901173048",
            "started" : "2016-09-01T20:16:08.891+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.14.4[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/12.14.43/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 469f14d460c6bb60f8e0ebc548709559e3ebaf33d986b954aeab8231c23f7881
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.43/mac_os_x/10.9",
          "name" : "chef-12.14.43-1.dmg",
          "properties" : [ {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.sha1",
            "value" : "58505df3088c254840a5d4503c819844c081609b"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.md5",
            "value" : "81de29ba8b848a365c26fd3b77112cd4"
          }, {
            "key" : "build.number",
            "value" : "12.14.43"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/mac_os_x/10.9/chef-12.14.43-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 45d610c70c785b97687c1f9945fa16819c48a3f6541e05e7e8e3d49e949c208d
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:34 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/ubuntu/14.04/chef_12.14.43-1_ppc64el.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - fa0eabe037c7bf1cd809e6a91cda4f235a48fadd9bc27f7e5e47e4326b15ce3e
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:23 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/debian/6/chef_12.14.43-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - c45da025a459aa46849a432d517a614aff52400b118577c4745cad1f8aa93a05
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:23 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/solaris2/5.10/chef-12.14.43-1.i386.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 27f14621ef9cd961ab04721eb2c2ceca1422f913f4401eb8523a6b1fd70d9ceb
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:23 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/el/7/chef-12.14.43-1.el7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 925123197c11ca7b183fb98dc8c71e7fe863482e8c767cbfaec3119d0365cd76
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:23 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/windows/2008r2/chef-client-12.14.43-1-x64.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 1d90ce7a140c830096eef324f917abc23716611c9660bdd616db347537d464a7
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:24 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/el/7/chef-12.14.43-1.el7.ppc64le.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - cf0a96f7eeb8d6413c189dcc036f95862516bbcb665646e33e1570fa6ad49ddc
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:24 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/el/6/chef-12.14.43-1.el6.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 4b0128f5c8f60a3e4a3cda1398c1f3c1c1bf85809ca524653f3f89faab204695
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:24 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/el/7/chef-12.14.43-1.el7.ppc64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - dbb1513136badf3a91a5184ed12d72e35c274e6f7e1dc762a80972c369c44aba
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:25 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/windows/2012/chef-client-12.14.43-1-x64.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 3b9e365028522fb0a66d3f4ab237258079a7caeaa50a4f3c0fbc5ec6833ff4e4
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:25 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/ios_xr/6/chef-12.14.43-1.ios_xr6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 0158dd62124268342edd0967205a3e6febb33db74f6727d87fc22023498e1d93
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:25 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/freebsd/10/chef-12.14.43_1.i386.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 955a500a939c6cfc0b87992de119d9060b951227c742a8e557545f9f2a7f595f
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:25 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/nexus/7/chef-12.14.43-1.nexus7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - eeabc2524c9ceb8e99b3a2abcb72b298ad5d1fba647726d6208328d5dc0f954f
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:25 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/ubuntu/12.04/chef_12.14.43-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - c45d79dc8e112c578d032d535c9a930adf1ee7b274f36973c90e1b5cb3c63611
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:26 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/debian/6/chef_12.14.43-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - e2054069d88a265e31c8db302bdfaa83165593edea00c784d4d0cde6540812a6
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:26 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/ubuntu/12.04/chef_12.14.43-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 4112cdd59eb3bf518139611a71eba37d17f797e8771f531ddc30fe5fdca5f563
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:27 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/freebsd/10/chef-12.14.43_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 981634d50cf823a75ee7008c84cde833f4176b6a4617c483de689f323cb0a3b4
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:28 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/aix/6.1/chef-12.14.43-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - bfbca6cce366a1bcffce3510f9ea797d49ebad5ef260ba0d78545dca74b2ef7f
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:28 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/chef/12.14.43/solaris2/5.10/chef-12.14.43-1.sparc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 0de9c85db2a05ddb2253a683778466e3dd6aebf5eedee99f8aace93f4295b5e5
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:29 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - 195c68a236ec81a9012104fb4dc2d7e368f00f191632f7e969e00d05745b1b05
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.17.9/sles/12",
          "name" : "chef-12.17.9-1.sles12.s390x.rpm",
          "type" : "file",
          "size" : 40245449,
          "created" : "2016-11-15T21:46:40.755Z",
          "created_by" : "jenkins",
          "modified" : "2016-11-15T21:46:31.694Z",
          "modified_by" : "jenkins",
          "updated" : "2016-11-15T21:46:31.694Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-11-15T22:01:54.877Z",
                "build.created_by" : "jenkins",
                "build.name" : "chef",
                "build.number" : "12.17.9"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.17.9"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.17.9/mac_os_x/10.9",
          "name" : "chef-12.17.9-1.dmg",
          "type" : "file",
          "size" : 29954161,
          "created" : "2016-11-15T21:47:50.265Z",
          "created_by" : "jenkins",
          "modified" : "2[...]
[...]
