---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: The requested path was not found.
  recorded_at: Wed, 17 Aug 2016 23:11:35 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 1da7651e658552f417beaca6a0205730c90e9159736b58af409636d58a85e517
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.13.15",
            "started" : "2016-07-29T04:35:56.667+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.12.15",
            "started" : "2016-07-09T18:22:29.311+0000"
          }, {
            "uri" : "/12.4.2",
            "[...]
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/current/chef/12.14.12/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 68c303508362b8b36700d686249c48d3af0f8ff347e68c6ed6bca18184aabc20
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Wed, 17 Aug 2016 23:21:22 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/current/chef/12.14.10/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 617a379b550111e69f626fb7971a53b8c8de42860088a2a1d4be3196afd09a30
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef/12.14.10/debian/7",
          "name" : "chef_12.14.10-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.sha256",
            "value" : "5fcd4cd9116669109b3369cd7112cbff1913402a1f234a3f78d9dfafd5d44224"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.platform",
            "value" : "debian"
          }, {
            "key" : "omnibus.sha512",
            "value" : "a4964f203c53151be18ad0c208484425401581cd0b2ea8ab0053df3a2fcf14402a084b9ddab6c76d7c60543b285ca58f02902a5be636ec[...]
