---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 8316c623821c6dabbd15d13de810b006481c10c70b0658f958ac0046d0cc9183
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.2.2/debian/6",
          "name" : "chefdk_0.2.2-1_amd64.deb",
          "type" : "file",
          "size" : 120064516,
          "created" : "2014-09-17T02:03:06.789Z",
          "created_by" : "jenkins",
          "modified" : "2014-09-17T02:03:06.763Z",
          "modified_by" : "jenkins",
          "updated" : "2014-09-17T02:03:06.763Z",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.2.2"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.2.2/debian/7",
          "name" : "chefdk_0.2.2-1_amd64.deb",
          "type" : "file",
          "size" : 120064516,
          "created" : "2014-09-17T02:04:32.319Z",
          "created_by" : "jenkins",
          "modified" : "2014-09-17T02:04:32.311Z",
          "modified_by" : "jenkins",
          "updated" : "2014-09-17T02:04:32.311Z",
          "properties" : [ {
         [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/1.1.16/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - aba6a82ca3328d5246c1f81e7064d56c2687985cc64c672409b63d8e04fe0290
    body:
      encoding: UTF-8
      string[...]
