---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 195c68a236ec81a9012104fb4dc2d7e368f00f191632f7e969e00d05745b1b05
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.39+20160827213058/windows/2008r2",
          "name" : "chef-client-12.14.39+20160827213058-1-x86.msi",
          "type" : "file",
          "size" : 117067776,
          "created" : "2016-08-27T21:55:30.782Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-27T21:55:00.804Z",
          "modified_by" : "jenkins",
          "updated" : "2016-08-27T21:55:00.804Z",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.14.39+20160827213058"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.39+20160827213058/windows/2012",
          "name" : "chef-client-12.14.39+20160827213058-1-x86.msi",
          "type" : "file",
          "size" : 117067776,
          "created" : "2016-08-27T21:56:03.589Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-27T21:55:30.911Z",
          "modified_by" : "jenkins",
          "updated" : "2016[...]
