---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 195c68a236ec81a9012104fb4dc2d7e368f00f191632f7e969e00d05745b1b05
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.39+20160827213058/windows/2008r2",
          "name" : "chef-client-12.14.39+20160827213058-1-x86.msi",
          "type" : "file",
          "size" : 117067776,
          "created" : "2016-08-27T21:55:30.782Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-27T21:55:00.804Z",
          "modified_by" : "jenkins",
          "updated" : "2016-08-27T21:55:00.804Z",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.14.39+20160827213058"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.39+20160827213058/windows/2012",
          "name" : "chef-client-12.14.39+20160827213058-1-x86.msi",
          "type" : "file",
          "size" : 117067776,
          "created" : "2016-08-27T21:56:03.589Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-27T21:55:30.911Z",
          "modified_by" : "jenkins",
          "updated" : "2016[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - 195c68a236ec81a9012104fb4dc2d7e368f00f191632f7e969e00d05745b1b05
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.17.9/sles/12",
          "name" : "chef-12.17.9-1.sles12.s390x.rpm",
          "type" : "file",
          "size" : 40245449,
          "created" : "2016-11-15T21:46:40.755Z",
          "created_by" : "jenkins",
          "modified" : "2016-11-15T21:46:31.694Z",
          "modified_by" : "jenkins",
          "updated" : "2016-11-15T21:46:31.694Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-11-15T22:01:54.877Z",
                "build.created_by" : "jenkins",
                "build.name" : "chef",
                "build.number" : "12.17.9"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.17.9"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.17.9/mac_os_x/10.9",
          "name" : "chef-12.17.9-1.dmg",
          "type" : "file",
          "size" : 29954161,
          "created" : "2016-11-15T21:47:50.265Z",
          "created_by" : "jenkins",
          "modified" : "2[...]
