---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c0b556d6682aedf3b43baeacdcc432d1a4eba98b
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.10.0/debian/6",
          "name" : "chefdk_0.10.0-1_amd64.deb",
          "type" : "file",
          "size" : 131320278,
          "created" : "2015-11-07T00:29:21.223Z",
          "created_by" : "jenkins",
          "modified" : "2015-11-07T00:29:19.528Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T07:10:24.868Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2020-08-04T03:40:58.825Z",
                "build.created_by" : "lita",
                "build.name" : "chefdk",
                "build.number" : "0.10.0",
                "build.started" : "2015-11-07T00:29:08.746Z"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.10.0"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.10.0/debian/7",
          "name" : "chefdk_0.10.0-1_amd64.deb",
          "type" : "file",
          "size" : 131320278,
          "created" : "2015-11-07T00:29:22.997Z",
          "created_by" : "jenkins",
          "modified" : "2015-11-07T00:29:21.259Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T07:10:24.933Z",
          "artifacts" : [ {
       [...]
