---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/inspec/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c0b556d6682aedf3b43baeacdcc432d1a4eba98b
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/inspec/1.0.0/el/6",
          "name" : "inspec-1.0.0-1.el6.x86_64.rpm",
          "type" : "file",
          "size" : 32061608,
          "created" : "2016-09-26T14:14:01.564Z",
          "created_by" : "jenkins",
          "modified" : "2016-09-26T14:14:01.173Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T09:07:09.374Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2020-08-04T03:41:06.310Z",
                "build.created_by" : "lita",
                "build.name" : "inspec",
                "build.number" : "1.0.0",
                "build.started" : "2016-09-26T14:14:03.433Z"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "1.0.0"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/inspec/1.0.0/el/7",
          "name" : "inspec-1.0.0-1.el7.x86_64.rpm",
          "type" : "file",
          "size" : 35803269,
          "created" : "2016-09-26T14:13:04.831Z",
          "created_by" : "jenkins",
          "modified" : "2016-09-26T14:13:04.349Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T09:07:11.405Z",
          "artifacts" : [ {
          [...]
