---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/delivery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 47f1cb5017feef3679800d0eafd89dd0aedeb36b64328492857ae4dc952e13fe
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.5.180",
            "started" : "2016-08-25T15:50:01.590+0000"
          }, {
            "uri" : "/0.5.185",
            "started" : "2016-08-25T23:51:39.866+0000"
          }, {
            "uri" : "/0.5.167",
            "started" : "2016-08-22T19:20:32.850+0000"
          }, {
            "uri" : "/0.5.200",
            "started" : "2016-08-31T15:05:35.002+0000"
          }, {
            "uri" : "/0.3.240",
            "started" : "2015-08-26T20:11:27.272+0000"
          }, {
            "uri" : "/0.5.174",
            "[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/delivery/0.5.207+git.1.6d19052/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - b02d4897b9a38d337be11b9ef3f12823cd500784223c5a79989699ec2145f53c
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 21:18:48 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/delivery/0.5.207/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - bd67e77cc30c2d2b9c8a954013050ecd001421aaddcf8c0b2b2be8ce27eb1b2e
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/delivery/0.5.207/ubuntu/12.04",
          "name" : "delivery_0.5.207-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.md5",
            "value" : "a46b4d015cd43e86286fe5daae5c6ba0"
          }, {
            "key" : "omnibus.sha256",
            "value" : "3fa8e3341253174bc0fb916e39db37c5ba9ce7ca04d9b6e4ad6af17679838d68"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.project",
            "value" : "delivery"
          }, {
            "key" : "omnibus.sha512",
            "value" : "0ff4e21b7b3150964446c8f34398f973167aba37b29eb0959ca28f9adf577545a2393ad51e5b9[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/delivery/0.5.207/ubuntu/12.04/delivery_0.5.207-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 2b4fa6387e630fafaf398d72c24a85201f7d3b9c1c45fb4b1fe04845cde8fd7c
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:31 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/unstable/delivery/0.5.207/el/7/delivery-0.5.207-1.el7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - ebeb9ab09ff4b118de9a4b64072b0e2004292ee6564d9eec90757c09605af2a9
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:18 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/delivery/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - eab246980aa48de038db75422c20ca8c4cd0468872391c20f3479ff69670b9ee
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/delivery/0.5.512/ubuntu/12.04",
          "name" : "delivery_0.5.512-1_amd64.deb",
          "type" : "file",
          "size" : 495561320,
          "created" : "2016-11-15T08:38:22.236Z",
          "created_by" : "jenkins",
          "modified" : "2016-11-15T08:38:11.688Z",
          "modified_by" : "jenkins",
          "updated" : "2016-11-15T08:38:11.688Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-11-15T09:17:38.570Z",
                "build.created_by" : "jenkins",
                "build.name" : "delivery",
                "build.number" : "0.5.512"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.5.512"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/delivery/0.5.512/ubuntu/14.04",
          "name" : "delivery_0.5.512-1_amd64.deb",
          "type" : "file",
          "size" : 495561320,
          "created" : "2016-11-15T08:38:35.737Z",
          "created_by" : "jenkins",
          "[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/automate/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - e37ada130fba0a28:1c2b6710:158c7e21605:-7f52
      Fastly-Debug-Digest:
      - 8b27054f8c6c8d360292f557a1b1792de9e36357b825b45bcdb87d061d43b0e4
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/delivery/0.6.49/el/7",
          "name" : "delivery-0.6.49-1.el7.x86_64.rpm",
          "type" : "file",
          "size" : 500901515,
          "created" : "2016-12-09T09:19:57.165Z",
          "created_by" : "j[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/automate/0.6.72+git.1.29347bd/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - e37ada130fba0a28:1c2b6710:158c7e21605:-7f52
      Fastly-Debug-Digest:
      - ad5ccc619dfb367e2c35a27c8105542d92b28506ed20720ea1e63dde2f36910c
    body:
      encoding: [...]
[...]
