---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 6fe0cb89c296ca523062f94443cc0fea088bae322c2f91a6caf55d925f6a8955
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.14.41",
            "started" : "2016-08-30T05:05:40.452+0000"
          }, {
            "uri" : "/12.14.43+20160901173048",
            "started" : "2016-09-01T20:16:08.891+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.14.4[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.14.43+20160901173048/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - c532f02991b5ec692e2481af32115d380bde5ef38cfc0996c463017126ca105a
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:43 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.14.43/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 80bef2b96ec856f48fa7fe6c91b406f8892646d00d15518e3046533152122c66
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:44 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.13.37/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 36ddf7a90cb5ca2d4d70322eef5abd2ccc4a1f1b41b519bab7b2110e146d49e1
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.13.37/debian/6",
          "name" : "chef_12.13.37-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "chef"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.md5",
            "value" : "11ce3c1596d8faef1f658abdfe611d2c"
          }, {
            "key" : "omnibus.iteration",
            "value" : [...]
