---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-compliance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 91df3080832ba4e395b736c61bc09e485af0e410b0d2e300b31d2e9682b43638
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/1.3.1",
            "started" : "2016-05-31T12:45:26.722+0000"
          }, {
            "uri" : "/0.16.9",
            "started" : "2016-03-23T16:20:28.318+0000"
          }, {
            "uri" : "/0.14.1",
            "started" : "2016-02-22T17:13:11.009+0000"
          }, {
            "uri" : "/0.11.1",
            "started" : "2016-02-08T09:43:06.698+0000"
          }, {
            "uri" : "/1.2.3",
            "started" : "2016-05-17T17:17:40.455+0000"
          }, {
            "uri" : "/0.10.4",
            "starte[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef-compliance/1.4.10/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 1fe207eda091a5f0c5adab84a2e9c7c935f7244a74c743e97969db95c687fab6
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:38 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef-compliance/1.3.20/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 7f21fcf85497d2488b939f2a57b24922bc419267ff94b1ab527af7b29b87c43f
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef-compliance/1.3.20/ubuntu/16.04",
          "name" : "chef-compliance_1.3.20-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "chef-compliance"
          }, {
            "key" : "delivery.change",
            "value" : "5c40388f-3eb9-478d-bad0-8707152f0786"
          }, {
            "key" : "omnibus.sha256",
            "value" : "999084be8c7b32adf5030bbf8d421b201842e4ea8919ecb32cc57944ed961ae7"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.platform",[...]
[...]
