---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.3.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 3ae6a9b381c9dc97d21888dfc7522f90e4a1f8d86040f8d801b74fab2ec9bdf6
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.3.0/debian/6",
          "name" : "chefdk_0.3.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.3.0"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.sha512",
            "value" : "d5efa9b7e6b6edb89464a991c443bf0d871338049999015f106d73f19e88dd1de95afc350e2e04523ae4093815e282ad3122d88a073266cbee779dcc908edc33"
          }, {
            "key" : "omnibus.platform",
            "value" : "debian"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key"[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/debian/6/chefdk_0.3.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 55807427ef8212eb0f0589364b82e5eb64ef0e9824e372956d40d98a7d2cda25
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:29:03 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/el/6/chefdk-0.3.0-1.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 490b0e90f8106afb8321c2b3e82d3db829ab738fce09b9de990bce081250b9a8
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:45 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/mac_os_x/10.8/chefdk-0.3.0-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 9298f2a2f63265e9a16963d2c96d0eecfd1eba858f0c8f92da947c52705d0210
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:45 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/mac_os_x/10.8/chefdk-0.3.0-1.pkg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 7a3d27e1bf32f1c2e04436fd01d34b8f4ddc91b7bfea2e8872f5893bcdcabc6b
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:45 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/ubuntu/12.04/chefdk_0.3.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 7f17a69cac0345a10f0bf506ba77e8513eafac5564cbb9842b93431ea6b4daba
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:46 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.3.0/windows/2008r2/chefdk-0.3.0-1.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - b462b5a857b1ebda4e8bcbddb070cdd1e99f01e39820105cadef1d1ab5524a6b
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:46 GMT
recorded_with: VCR 3.0.3
