---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/99.99.99/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 94ae94ef1f56291978e5f95c2a91dec0b07ade58462fa1e5651bced2933ff22e
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Tue, 11 Apr 2017 21:44:06 GMT
recorded_with: VCR 3.0.3
