---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/delivery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 47f1cb5017feef3679800d0eafd89dd0aedeb36b64328492857ae4dc952e13fe
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.5.180",
            "started" : "2016-08-25T15:50:01.590+0000"
          }, {
            "uri" : "/0.5.185",
            "started" : "2016-08-25T23:51:39.866+0000"
          }, {
            "uri" : "/0.5.167",
            "started" : "2016-08-22T19:20:32.850+0000"
          }, {
            "uri" : "/0.5.200",
            "started" : "2016-08-31T15:05:35.002+0000"
          }, {
            "uri" : "/0.3.240",
            "started" : "2015-08-26T20:11:27.272+0000"
          }, {
            "uri" : "/0.5.174",
            "[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/delivery/0.5.207/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - d67b77bd51e8eb4eb73220b7690e41d578d1bd269e32a14ff2cf053449c047be
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:34 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/delivery/0.5.204/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 9fc45662173fcbe0b8338fb2d3f6d0c6216f0682691526a1dae18bda20542964
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/delivery/0.5.204/ubuntu/12.04",
          "name" : "delivery_0.5.204-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.sha1",
            "value" : "cbf6cf1fb918a46086a061c6df00bab389b7ac7f"
          }, {
            "key" : "omnibus.sha512",
            "value" : "d5f47a8eda8884af14d095c39f9da375e9f2197c2fe5e71f15a3fc4ca4a23d511c87114517c2de30061aacd14572dfc6a7ac01b294a381b7e7282f3994c78b1d"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.platform_version",
            "valu[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/delivery/0.5.204/ubuntu/12.04/delivery_0.5.204-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="delivery_0.5.204-1_amd64.deb.metadata.json"; filename*=UTF-8''delivery_0.5.204-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - b87a4c8388ca9d53f4e737a2318404ad5bdd0de4
      Last-Modified:
      - Wed, 31 Aug 2016 23:35:15 GMT
      X-Artifactory-Filename:
      - delivery_0.5.204-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - c5ecff031d6646de984de72caf23c0ef
      X-Checksum-Sha1:
      - b87a4c8388ca9d53f4e737a2318404ad5bdd0de4
      Fastly-Debug-Digest:
      - dcb505bc0ce23f6bd68863ec479c80a9c3ec1271c77095d3cb7f4a6779bac4d5
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "delivery_0.5.204-1_amd64.deb",
          "md5": "64d780776303f2772cbceb6fc309a730",
          "sha1": "cbf6cf1fb918a46086a061c6df00bab389b7ac7f",
          "sha256": "64b2cd4606e9b2200a573d0ae656a2e27e2947274ee77def671b7147c21721ab",
          "sha512": "d5f47a8eda8884af14d095c39f9da375e9f2197c2fe5e71f15a3fc4ca4a23d511c87114517c2de30061aacd14572dfc6a7ac01b294a381b7e7282f3994c78b1d",
          "platform": "ubuntu",
          "platform_version": "12.04",
          "arch": "x86_64",
          "name": "delivery",
          "friendly_name": "Delivery",
          "homepage": "http://www.chef.io",
          "version": "0.5.204",
          "iteration": 1,
          "license": "Chef MLSA",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "config_guess": {
                "locked_version": "c224acab50b20d4339b11df4a49baf9671c300c8",
                "locked_source": {
                  "git": "git://git.sv.gnu.org/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "popt": {
                "locked_version": "1.16",
                "locked_source": {
                  "url": "http://rpm5.org/files/popt/popt-1.16.tar.gz",
                  "md5": "3743beefa3dd6247a73f8f7a32c14c33"
                },
                "source_type": "url",
                "described_version": "1.16",
                "license": "MIT"
              },
              "rsync": {
                "locked_version": "3.1.1",
                "locked_source": {
                  "md5": "43bd6676f0b404326eee2d63be3cdcfe",
                  "url": "https://rsync.samba.org/ftp/rsync/src/rsync-3.1.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.1.1",
                "license": "GPL v3"
              },
              "libidn": {
                "locked_version": "1.32",
                "locked_source": {
                  "url": "http://ftp.gnu.org/gnu/libidn/libidn-1.32.tar.gz",
                  "md5": "4dd8356ba577287ea7076bfa1554b534"
                },
                "source_type": "url",
                "described_version": "1.32",
                "license": "GPL-2.0"
              },
              "cmake": {
                "locked_version": "3.4.3",
                "locked_source": {
                  "url": "https://cmake.org/files/v3.4/cmake-3.4.3.tar.gz",
                  "md5": "4cb3ff35b2472aae70f542116d616e63"
                },
                "source_type": "url",
                "described_version": "3.4.3",
                "license": "BSD-3 -Clause"
              },
              "libreadline": {
                "locked_version": "6.3",
                "locked_source": {
                  "md5": "33c8fb279e981274f485fd91da77e94a",
                  "url": "https://ftp.gnu.org/gnu/readline/readline-6.3.tar.gz"
                },
                "source_type": "url",
                "described_version": "6.3",
                "license": "GPL-3.0"
              },
              "lua": {
                "locked_version": "5.1.5",
                "locked_source": {
                  "url": "http://www.lua.org/ftp/lua-5.1.5.tar.gz",
                  "md5": "2e115fe26e435e33b0d5c022e4490567"
                },
                "source_type": "url",
                "described_version": "5.1.5",
                "license": "MIT"
              },
              "lsyncd": {
                "locked_version": "2.1.6",
                "locked_source": {
                  "url": "https://github.com/axkibe/lsyncd/archive/release-2.1.6.tar.gz",
                  "md5": "e0618ac837a25aa027fa1cbb67815c23"
                },
                "source_type": "url",
                "described_version": "2.1.6",
                "license": "GPL-2.0"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.25",
                "locked_source": {
                  "md5": "a47db46cb117805bd6947aa5928a7436",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.25.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.25",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.18.0",
                "locked_source": {
                  "md5": "fd0ba21b3179703c071bbb4c3e5fb0f4",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.18.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.18.0",
                "license": "MIT"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "curl": {
                "locked_version": "7.47.1",
                "locked_source": {
                  "md5": "3f9d1be7bf33ca4b8c8602820525302b",
                  "url": "https://curl.haxx.se/download/curl-7.47.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.47.1",
                "license": "MIT"
              },
              "ncurses": {
                "locked_version": "5.9",
                "locked_source": {
                  "md5": "8cb9c412e5f2d96bc6f459aa8c6282a1",
                  "url": "https://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.9",
                "license": "MIT"
              },
              "libedit": {
                "locked_version": "20130712-3.1",
                "locked_source": {
                  "md5": "0891336c697362727a1fa7e60c5cb96c",
                  "url": "http://www.thrysoee.dk/editline/libedit-20130712-3.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "20130712-3.1",
                "license": "BSD-3-Clause"
              },
              "pcre": {
                "locked_version": "8.38",
                "locked_source": {
                  "md5": "8a353fe1450216b6655dfcf3561716d9",
                  "url": "http://downloads.sourceforge.net/project/pcre/pcre/8.38/pcre-8.38.tar.gz"
                },
                "source_type": "url",
                "described_version": "8.38",
                "license": "BSD-2-Clause"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "expat": {
                "locked_version": "2.1.0",
                "locked_source": {
                  "url": "http://downloads.sourceforge.net/project/expat/expat/2.1.0/expat-2.1.0.tar.gz",
                  "md5": "dd7dab7a5fea97d2a6a43f511449b7cd"
                },
                "source_type": "url",
                "described_version": "2.1.0",
                "license": "MIT"
              },
              "git": {
                "locked_version": "2.8.2",
                "locked_source": {
                  "md5": "3022d8ebf64b35b9704d5adf54b256f9",
                  "url": "https://www.kernel.org/pub/software/scm/git/git-2.8.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.8.2",
                "license": "LGPL-2.1"
              },
              "logrotate": {
                "locked_version": "3.9.2",
                "locked_source": {
                  "url": "https://github.com/logrotate/logrotate/archive/3.9.2.tar.gz",
                  "md5": "584bca013dcceeb23b06b27d6d0342fb"
                },
                "source_type": "url",
                "described_version": "3.9.2",
                "license": "GPL-2.0"
              },
              "runit": {
                "locked_version": "2.1.1",
                "locked_source": {
                  "md5": "8fa53ea8f71d88da9503f62793336bc3",
                  "url": "http://smarden.org/runit/runit-2.1.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.1",
                "license": "BSD-3-Clause"
              },
              "libossp-uuid": {
                "locked_version": "1.6.2",
                "locked_source": {
                  "md5": "5db0d43a9022a6ebbbc25337ae28942f",
                  "url": "https://www.mirrorservice.org/sites/ftp.ossp.org/pkg/lib/uuid/uuid-1.6.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.6.2",
                "license": "MIT"
              },
              "postgresql": {
                "locked_version": "9.3.5",
                "locked_source": {
                  "md5": "5059857c7d7e6ad83b6d55893a121b59",
                  "url": "https://ftp.postgresql.org/pub/source/v9.3.5/postgresql-9.3.5.tar.bz2"
                },
                "source_type": "url",
                "described_version": "9.3.5",
                "license": "PostgreSQL"
              },
              "openresty": {
                "locked_version": "1.9.7.2",
                "locked_source": {
                  "md5": "78a263de11ff43c95e847f208cce0899",
                  "url": "https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.9.7.2",
                "license": "BSD-2-Clause"
              },
              "perl": {
                "locked_version": "5.18.1",
                "locked_source": {
                  "md5": "304cb5bd18e48c44edd6053337d3386d",
                  "url": "http://www.cpan.org/src/5.0/perl-5.18.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.18.1",
                "license": "Artistic-2.0"
              },
              "cpanminus": {
                "locked_version": "1.7004",
                "locked_source": {
                  "md5": "02fe90392f33a12979e188ea110dae67",
                  "url": "https://github.com/miyagawa/cpanminus/archive/1.7004.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.7004",
                "license": "Artistic-2.0"
              },
              "sqitch": {
                "locked_version": "0.973",
                "locked_source": {
                  "md5": "0994e9f906a7a4a2e97049c8dbaef584",
                  "url": "https://github.com/theory/sqitch/releases/download/v0.973/app-sqitch-0.973.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.973",
                "license": "MIT"
              },
              "perl_pg_driver": {
                "locked_version": "3.3.0",
                "locked_source": {
                  "md5": "547de1382a47d66872912fe64282ff55",
                  "url": "http://search.cpan.org/CPAN/authors/id/T/TU/TURNSTEP/DBD-Pg-3.3.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.3.0",
                "license": "Artistic"
              },
              "erlang": {
                "locked_version": "18.2",
                "locked_source": {
                  "url": "http://www.erlang.org/download/otp_src_18.2.tar.gz",
                  "md5": "b336d2a8ccfbe60266f71d102e99f7ed"
                },
                "source_type": "url",
                "described_version": "18.2",
                "license": "Apache-2.0"
              },
              "base-dialyzer-plt": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "rebar": {
                "locked_version": "e9f62c45807ce2db39e0606c4d97cd071416bd64",
                "locked_source": {
                  "git": "https://github.com/rebar/rebar.git"
                },
                "source_type": "git",
                "described_version": "2.5.1",
                "license": "Apache-2.0"
              },
              "nodejs-binary": {
                "locked_version": "5.6.0",
                "locked_source": {
                  "md5": "17cb2fc57a0cf46bcc021060b25edf48",
                  "url": "https://nodejs.org/dist/v5.6.0/node-v5.6.0-linux-x64.tar.xz"
                },
                "source_type": "url",
                "described_version": "5.6.0",
                "license": "MIT"
              },
              "server-jre": {
                "locked_version": "8u74",
                "locked_source": {
                  "url": "http://download.oracle.com/otn-pub/java/jdk/8u74-b02/server-jre-8u74-linux-x64.tar.gz",
                  "md5": "2c244c8071b7997219fe664ef1968adf",
                  "cookie": "gpw_e24=http%3A%2F%2Fwww.oracle.com%2F; oraclelicense=accept-securebackup-cookie",
                  "warning": "By including the JRE, you accept the terms of the Oracle Binary Code License Agreement for the Java SE Platform Products and JavaFX, which can be found at http://www.oracle.com/technetwork/java/javase/terms/license/index.html",
                  "unsafe": true
                },
                "source_type": "url",
                "described_version": "8u74",
                "license": "Oracle-Binary"
              },
              "libtool": {
                "locked_version": "2.4.2",
                "locked_source": {
                  "md5": "d2f3b7d4627e69e13514a40e72a24d50",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4.2",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "2.1.6",
                "locked_source": {
                  "md5": "6e5564364be085c45576787b48eeb75f",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.6.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.6",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.4.8",
                "locked_source": {
                  "md5": "dc77b51449dffe5b31776bff826bf559",
                  "url": "http://production.cf.rubygems.org/rubygems/rubygems-2.4.8.tgz"
                },
                "source_type": "url",
                "described_version": "2.4.8",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.10.6",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.10.6",
                "license": "MIT"
              },
              "rb-readline": {
                "locked_version": "cf67cd06ae89e8b2710ba930c3015639240ac7b7",
                "locked_source": {
                  "git": "https://github.com/ConnorAtherton/rb-readline.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "BSD-3-Clause"
              },
              "chef-gem": {
                "locked_version": "12.11.18",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "12.11.18",
                "license": "Apache-2.0"
              },
              "omnibus-ctl": {
                "locked_version": "c514d1d4ecb24e30fdbd310b2dd038b2192b4fa7",
                "locked_source": {
                  "git": "https://github.com/chef/omnibus-ctl.git"
                },
                "source_type": "git",
                "described_version": "0.3.6",
                "license": "Apache-2.0"
              },
              "r-train": {
                "locked_version": "0.15.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.15.0",
                "license": "Apache-2.0"
              },
              "delivery-ctl": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/omnibus/files/ctl-commands"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-web": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/web"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "relx": {
                "locked_version": "766a2fb0c1724193a5846c3baee5d7f17f343ac5",
                "locked_source": {
                  "git": "https://github.com/erlware/relx.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "delivery-server": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/server"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-cookbooks": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/cookbooks"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-vendor-cookbooks": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/omnibus/files/delivery-cookbooks"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-git-hooks": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/server/apps/delivery/priv/git_repo_template"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-schema": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/server/schema"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "delivery-scripts": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/omnibus/files/scripts"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "elasticsearch": {
                "locked_version": "2.3.1",
                "locked_source": {
                  "sha1": "387c5f045843339d486203b0048ff8911e9c8c54",
                  "url": "https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.3.1/elasticsearch-2.3.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.3.1",
                "license": "Apache-2.0"
              },
              "logstash": {
                "locked_version": "2.3.3",
                "locked_source": {
                  "sha1": "bce7c753dd19848e29253f706f834d43a74152f8",
                  "url": "https://download.elastic.co/logstash/logstash/logstash-2.3.3.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.3.3",
                "license": "Apache-2.0"
              },
              "kibana": {
                "locked_version": "4.5.1",
                "locked_source": {
                  "url": "https://download.elastic.co/kibana/kibana/kibana-4.5.1-linux-x64.tar.gz",
                  "sha1": "355c631b77c529d3dea304d7f084e658f5cc3123"
                },
                "source_type": "url",
                "described_version": "4.5.1",
                "license": "Apache-2.0"
              },
              "rabbitmq": {
                "locked_version": "3.6.3",
                "locked_source": {
                  "md5": "37c79fe55d7cc93baef3d9ccbda6b15b",
                  "url": "https://www.rabbitmq.com/releases/rabbitmq-server/v3.6.3/rabbitmq-server-generic-unix-3.6.3.tar.xz"
                },
                "source_type": "url",
                "described_version": "3.6.3",
                "license": "MPL-2.0"
              },
              "insights-web": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/delivery-build/architecture/x86_64/platform/ubuntu-12.04/project/delivery/role/builder/insights/web"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
[...]
