---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - e2689ca89754cabcbdc8876f5adabb5e1abd565d29d63a08c4b0505981f313af
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/1.3.3/debian/6",
          "name" : "push-jobs-client_1.3.3-1_amd64.deb",
          "type" : "file",
          "size" : 57921652,
          "created" : "2015-09-18T00:58:16.282Z",
          "created_by" : "jenkins",
          "modified" : "2015-09-18T00:58:15.289Z",
          "modified_by" : "jenkins",
          "updated" : "2015-09-18T00:58:15.289Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2015-10-13T22:25:57.969Z",
                "build.created_by" : "lita",
                "build.name" : "push-jobs-client",
                "build.number" : "1.3.3"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "1.3.3"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/1.3.3/el/5",
          "name" : "push-jobs-client-1.3.3-1.el5.x86_64.rpm",
          "type" : "file",
          "size" : 59499499,
          "created" : "2015-09-18T00:58:19.459Z",
          "created_by" : "jenkins",
          "modified" : "2015-09-18T00:58:18.677Z",
          "modified_by" : "jenkins",
          "updated" : "2015-09-18T00:58:18.677Z",
          "artifac[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.1.4/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 34a3f1f5e28c92b3e9cfbc49c8ef3ef9beb1fc191ef6444e929cac026530436d
    body:
      encoding: UTF-8
   [...]
