---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chefdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - 376907d2051c93f6f9f5ef88c639f1347e2ba099460d7e9d81c2710f8719886c
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.18.30",
            "started" : "2016-09-28T01:33:23.057+0000"
          }, {
            "uri" : "/0.20.4",
            "started" : "2016-11-02T04:59:55.998+0000"
          }, {
            "uri" : "/0.8.1",
            "started" : "2015-10-01T05:19:57.291+0000"
          }, {
            "uri" : "/1.0.3",
            "started" : "2016-11-14T22:57:34.077+0000"
          }, {
            "uri" : "/0.19.6",
            "started" : "2016-10-17T20:31:57.428+0000"
          }, {
            "uri" : "/0.11.0",
            "started[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/1.1.3/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - fe9adb4256a003844f6b44419c6ab764c346f2a0f4e7bab4c9cb1cb3e1566468
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Fri, 18 Nov 2016 19:43:56 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/1.0.3/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - 3fd196eec7203f49974d5bb669f6404f1c8ee19905f47f73bdf2df22b9fb7242
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/1.0.3/ubuntu/16.04",
          "name" : "chefdk_1.0.3-1_amd64.deb",
          "properties" : [ {
            "key" : "build.name",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "sha1",
            "value" : "f0c9f4e1c1ddec0af640bc448cc495f46c112ef6"
          }, {
            "key" : "omnibus.sha512",
            "value" : "ca3734ac4af5a6d92585d290d6fd0d50d974d5afc4701290afb0c28b38c623014a700658f0b0cb6941c4d99caad10e3a652917101ddec708a879098b9f66239c"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "sha512",[...]
