---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chefdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 376907d2051c93f6f9f5ef88c639f1347e2ba099460d7e9d81c2710f8719886c
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.17.15",
            "started" : "2016-08-13T01:27:34.396+0000"
          }, {
            "uri" : "/0.17.18",
            "started" : "2016-08-15T19:57:54.829+0000"
          }, {
            "uri" : "/0.17.11",
            "started" : "2016-08-09T20:18:42.133+0000"
          }, {
            "uri" : "/0.18.6",
            "started" : "2016-08-23T21:09:27.218+0000"
          }, {
            "uri" : "/0.17.10",
            "started" : "2016-08-09T18:02:22.869+0000"
          }, {
            "uri" : "/0.8.1",
            "sta[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.18.8+20160901003252/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 2bafd3813c57dec1508444daad5510faa82aa482291da6b53a019ea0c59b4bfa
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:49 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.18.7/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 65f9230942145a61bf886c194f5899074809981af615a7d58c3a59e2d93b1a30
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:49 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.17.17/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 0ccdc27a33e05d0af0094396939cbced9b6b99ee9600bed20e8b34dfd3b2a0da
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.17.17/ubuntu/14.04",
          "name" : "chefdk_0.17.17-1_amd64.deb",
          "properties" : [ {
            "key" : "build.name",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.sha256",
            "value" : "e247a5cf850f7c693a50b4a2cff07c3b4184c0ec0678493dfcd612e377bda6fd"
          }, {
            "key" : "omn[...]
