---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chefdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 376907d2051c93f6f9f5ef88c639f1347e2ba099460d7e9d81c2710f8719886c
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.17.15",
            "started" : "2016-08-13T01:27:34.396+0000"
          }, {
            "uri" : "/0.17.18",
            "started" : "2016-08-15T19:57:54.829+0000"
          }, {
            "uri" : "/0.17.11",
            "started" : "2016-08-09T20:18:42.133+0000"
          }, {
            "uri" : "/0.18.6",
            "started" : "2016-08-23T21:09:27.218+0000"
          }, {
            "uri" : "/0.17.10",
            "started" : "2016-08-09T18:02:22.869+0000"
          }, {
            "uri" : "/0.8.1",
            "sta[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.18.8+20160901003252/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 2bafd3813c57dec1508444daad5510faa82aa482291da6b53a019ea0c59b4bfa
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:49 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.18.7/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 65f9230942145a61bf886c194f5899074809981af615a7d58c3a59e2d93b1a30
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:49 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.17.17/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 0ccdc27a33e05d0af0094396939cbced9b6b99ee9600bed20e8b34dfd3b2a0da
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.17.17/ubuntu/14.04",
          "name" : "chefdk_0.17.17-1_amd64.deb",
          "properties" : [ {
            "key" : "build.name",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.sha256",
            "value" : "e247a5cf850f7c693a50b4a2cff07c3b4184c0ec0678493dfcd612e377bda6fd"
          }, {
            "key" : "omn[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.17.17/ubuntu/14.04/chefdk_0.17.17-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chefdk_0.17.17-1_amd64.deb.metadata.json"; filename*=UTF-8''chefdk_0.17.17-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - eb333f7ab5102baf58dc00cc3683a995fb583bdb
      Last-Modified:
      - Mon, 15 Aug 2016 18:27:47 GMT
      X-Artifactory-Filename:
      - chefdk_0.17.17-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 3a268a7aff0daca31da97902e19d678b
      X-Checksum-Sha1:
      - eb333f7ab5102baf58dc00cc3683a995fb583bdb
      Fastly-Debug-Digest:
      - 36207ee02cf4c02591f583d492879df5555811d502785671b32821adbc38f80c
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chefdk_0.17.17-1_amd64.deb",
          "md5": "bd6136cbb36674085bb73eb620542275",
          "sha1": "fc37aadfbe5057b70783946852782afecb677e2d",
          "sha256": "e247a5cf850f7c693a50b4a2cff07c3b4184c0ec0678493dfcd612e377bda6fd",
          "sha512": "3362344dbea95e29d7db5918cc696996858e9ac8e3fb329388eb52a0b154c106a63ad34162579262156e72467996730e20bf0b0c1336d7590050f7bf5db979f0",
          "platform": "ubuntu",
          "platform_version": "12.04",
          "arch": "x86_64",
          "name": "chefdk",
          "friendly_name": "Chef Development Kit",
          "homepage": "https://www.chef.io",
          "version": "0.17.17",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.28",
                "locked_source": {
                  "md5": "0b42843b99aee3e4f6a9cc7710143f86",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.28.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.28",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.19.0",
                "locked_source": {
                  "md5": "40e1caa49a71a26e0aa68ddd00203717",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.19.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.19.0",
                "license": "MIT"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "git://git.sv.gnu.org/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "rust": {
                "locked_version": "1.9.0",
                "locked_source": {
                  "sha256": "288ff13efa2577e81c77fc2cb6e2b49b1ed0ceab51b4fa12f7efb87039ac49b7",
                  "url": "https://static.rust-lang.org/dist/rust-1.9.0-x86_64-unknown-linux-gnu.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.9.0",
                "license": "Apache-2.0"
              },
              "delivery-cli": {
                "locked_version": "f68e5c5804cd7d8a76c69b926fbb261e1070751b",
                "locked_source": {
                  "git": "https://github.com/chef/delivery-cli.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "rust-uninstall": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "curl": {
                "locked_version": "7.47.1",
                "locked_source": {
                  "md5": "3f9d1be7bf33ca4b8c8602820525302b",
                  "url": "https://curl.haxx.se/download/curl-7.47.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.47.1",
                "license": "MIT"
              },
              "ncurses": {
                "locked_version": "5.9",
                "locked_source": {
                  "md5": "8cb9c412e5f2d96bc6f459aa8c6282a1",
                  "url": "https://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.9",
                "license": "MIT"
              },
              "libedit": {
                "locked_version": "20120601-3.0",
                "locked_source": {
                  "md5": "e50f6a7afb4de00c81650f7b1a0f5aea",
                  "url": "http://www.thrysoee.dk/editline/libedit-20120601-3.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "20120601-3.0",
                "license": "BSD-3-Clause"
              },
              "pcre": {
                "locked_version": "8.38",
                "locked_source": {
                  "md5": "8a353fe1450216b6655dfcf3561716d9",
                  "url": "http://downloads.sourceforge.net/project/pcre/pcre/8.38/pcre-8.38.tar.gz"
                },
                "source_type": "url",
                "described_version": "8.38",
                "license": "BSD-2-Clause"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "expat": {
                "locked_version": "2.1.0",
                "locked_source": {
                  "url": "http://downloads.sourceforge.net/project/expat/expat/2.1.0/expat-2.1.0.tar.gz",
                  "md5": "dd7dab7a5fea97d2a6a43f511449b7cd"
                },
                "source_type": "url",
                "described_version": "2.1.0",
                "license": "MIT"
              },
              "git-custom-bindir": {
                "locked_version": "2.8.2",
                "locked_source": {
                  "md5": "3022d8ebf64b35b9704d5adf54b256f9",
                  "url": "https://www.kernel.org/pub/software/scm/git/git-2.8.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.8.2",
                "license": "LGPL-2.1"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "libarchive": {
                "locked_version": "3.1.2",
                "locked_source": {
                  "url": "http://www.libarchive.org/downloads/libarchive-3.1.2.tar.gz",
                  "md5": "efad5a503f66329bb9d2f4308b5de98a"
                },
                "source_type": "url",
                "described_version": "3.1.2",
                "license": "BSD-2-Clause"
              },
              "m4": {
                "locked_version": "1.4.17",
                "locked_source": {
                  "url": "https://ftp.gnu.org/gnu/m4/m4-1.4.17.tar.gz",
                  "md5": "a5e9954b1dae036762f7b13673a2cf76"
                },
                "source_type": "url",
                "described_version": "1.4.17",
                "license": "GPL-3.0"
              },
              "autoconf": {
                "locked_version": "2.68",
                "locked_source": {
                  "md5": "c3b5247592ce694f7097873aa07d66fe",
                  "url": "https://ftp.gnu.org/gnu/autoconf/autoconf-2.68.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.68",
                "license": "GPL-3.0"
              },
              "automake": {
                "locked_version": "1.11.2",
                "locked_source": {
                  "md5": "79ad64a9f6e83ea98d6964cef8d8a0bc",
                  "url": "https://ftp.gnu.org/gnu/automake/automake-1.11.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.11.2",
                "license": "GPL-2.0"
              },
              "libtool": {
                "locked_version": "2.4.2",
                "locked_source": {
                  "md5": "d2f3b7d4627e69e13514a40e72a24d50",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4.2",
                "license": "GPL-2.0"
              },
              "libsodium": {
                "locked_version": "1.0.2",
                "locked_source": {
                  "md5": "dc40eb23e293448c6fc908757738003f",
                  "url": "https://download.libsodium.org/libsodium/releases/libsodium-1.0.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.0.2",
                "license": "ISC"
              },
              "libzmq": {
                "locked_version": "4.0.5",
                "locked_source": {
                  "md5": "73c39f5eb01b9d7eaf74a5d899f1d03d",
                  "url": "http://download.zeromq.org/zeromq-4.0.5.tar.gz"
                },
                "source_type": "url",
                "described_version": "4.0.5",
                "license": "LGPL-3.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "2.1.8",
                "locked_source": {
                  "md5": "091b62f0a9796a3c55de2a228a0e6ef3",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.8",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.6.6",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.6.6",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.12.5",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.12.5",
                "license": "MIT"
              },
              "chef-dk-gem-dep-selector-libgecode": {
                "locked_version": "1.3.1",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.3.1",
                "license": "Apache-2.0"
              },
              "chef-dk-gem-ffi-rzmq": {
                "locked_version": "2.0.4",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "2.0.4",
                "license": "MIT"
              },
              "chef-dk-gem-libyajl2": {
                "locked_version": "1.2.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "chef-dk-gem-ffi-yajl": {
                "locked_version": "2.3.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "2.3.0",
                "license": "MIT"
              },
              "chef-dk-gem-json": {
                "locked_version": "1.8.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.8.3",
                "license": "Ruby"
              },
              "chef-dk-gem-pkg-config": {
                "locked_version": "1.1.7",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.1.7",
                "license": "LGPL-2.1"
              },
              "chef-dk-gem-mini_portile2": {
                "locked_version": "2.1.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "2.1.0",
                "license": "MIT"
              },
              "chef-dk-gem-nokogiri": {
                "locked_version": "1.6.8",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.6.8",
                "license": "MIT"
              },
              "chef-dk-gem-ffi": {
                "locked_version": "1.9.14",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.9.14",
                "license": "BSD-3-Clause"
              },
              "chef-dk-gem-ruby-prof": {
                "locked_version": "0.15.9",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "0.15.9",
                "license": "BSD-2-Clause"
              },
              "chef-dk-gem-dep_selector": {
                "locked_version": "1.0.4",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.0.4",
                "license": "Apache-2.0"
              },
              "chef-dk-gem-nio4r": {
                "locked_version": "1.2.1",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.2.1",
                "license": "MIT"
              },
              "chef-dk-gem-byebug": {
                "locked_version": "9.0.5",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "9.0.5",
                "license": "MIT"
              },
              "chef-dk-gem-yajl-ruby": {
                "locked_version": "1.2.1",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.2.1",
                "license": "MIT"
              },
              "chef-dk-gem-hitimes": {
                "locked_version": "1.2.4",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "1.2.4",
                "license": "ISC"
              },
              "chef-dk-gem-debug_inspector": {
                "locked_version": "0.0.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "0.0.2",
                "license": "MIT"
              },
              "chef-dk-gem-binding_of_caller": {
                "locked_version": "0.7.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "0.7.2",
                "license": "MIT"
              },
              "chef-dk-gem-cookstyle": {
                "locked_version": "0.0.1",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "0.0.1",
                "license": "Apache-2.0"
              },
              "chef-dk-gem-ruby-shadow": {
                "locked_version": "2.5.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/chef-dk-gem"
                },
                "source_type": "path",
                "described_version": "2.5.0",
                "license": "Public-Domain"
              },
              "chef-dk": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-dk-appbundle": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files"
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "gem-permissions": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "chef-dk-remove-docs": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "rubygems-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chefdk-build/architecture/x86_64/platform/ubuntu-12.04/project/chefdk/role/builder/omnibus/files/rubygems-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "shebang-cleanup": {
                "locked_version": "0.0.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.2",
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "openssl-customization": {
                "locked_version": null,
[...]
