---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.12.15/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c232a19d944e8340aad57136edabdd2c8d39ed6
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.12.15/aix/6.1",
          "name" : "chef-12.12.15-1.powerpc.bff",
          "properties" : [ {
            "key" : "build.number",
            "value" : "12.12.15"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.md5",
            "value" : "525a399c0434f8cbad32868245d060c9"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6.1"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "omnibus.sha256",
            "value" : "fef1d4019e40f1a9f645bbc4cdaa5f43f5aeafc49add74b[...]
