---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.12.15/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 233f544386aa3df6:-1b4cf46f:157c0583a9d:-7f3f
      Fastly-Debug-Digest:
      - 882ed722402240c545208438fb4699eba265430553b68209b0e6038b735f3619
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.12.15/debian/6",
          "name" : "chef_12.12.15-1_amd64.deb",
          "properties" : [ {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.md5",
            "value" : "50c9cfffb2c39beda9f29d95197de600"
          }, {
            "key" : "omnibus.sha256",
            "value" : "aac21d07740f65486f35a23da9a28e0dc003f42f62050108a9a3857fd58dd401"
          }, {
            "key" : "omnibus.sha1",
            "value" : "4efadc429f4958f6fbb28740ec3ecf9d95a0ec6f"
          }, {
            "key" : "omnibus.v[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/debian/6/chef_12.12.15-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_amd64.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - d42d85b50a06ce6a024cf21ffff748c9abeaf85c
      Last-Modified:
      - Sat, 09 Jul 2016 17:58:15 GMT
      X-Artifactory-Filename:
      - chef_12.12.15-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 233f544386aa3df6:-1b4cf46f:157c0583a9d:-7f3f
      X-Checksum-Md5:
      - 5d895a87422db5e47f3a1b42ff1b4166
      X-Checksum-Sha1:
      - d42d85b50a06ce6a024cf21ffff748c9abeaf85c
      Fastly-Debug-Digest:
      - 5155e22dd5b08ad64a952c21aee806457b2d4eab75aa2171012d74135b3fc1e9
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef_12.12.15-1_amd64.deb",
          "md5": "50c9cfffb2c39beda9f29d95197de600",
          "sha1": "4efadc429f4958f6fbb28740ec3ecf9d95a0ec6f",
          "sha256": "aac21d07740f65486f35a23da9a28e0dc003f42f62050108a9a3857fd58dd401",
          "sha512": "c0fa8927f5d9ee0add34900dfedf049f416a52c02b8707160172ea4aa9d8e136d9e3b63f47cad4bbdda79ab478b545b908e0004eb4e6f928b06fa4d7ae5fe4a0",
          "platform": "debian",
          "platform_version": "6",
          "arch": "x86_64",
          "name": "chef",
          "friendly_name": "Chef Client",
          "homepage": "https://www.chef.io",
          "version": "12.12.15",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://iweb.dl.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "http://git.savannah.gnu.org/r/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.28",
                "locked_source": {
                  "md5": "0b42843b99aee3e4f6a9cc7710143f86",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.28.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.28",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.19.0",
                "locked_source": {
                  "md5": "40e1caa49a71a26e0aa68ddd00203717",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.19.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.19.0",
                "license": "MIT"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4.2",
                "locked_source": {
                  "md5": "d2f3b7d4627e69e13514a40e72a24d50",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4.2",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "2.1.8",
                "locked_source": {
                  "md5": "091b62f0a9796a3c55de2a228a0e6ef3",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.8",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.6.4",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.6.4",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.12.5",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.12.5",
                "license": "MIT"
              },
              "chef-gem-libyajl2": {
                "locked_version": "1.2.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "chef-gem-ffi-yajl": {
                "locked_version": "2.2.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.2.3",
                "license": "MIT"
              },
              "chef-gem-pkg-config": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "LGPL-2.1"
              },
              "chef-gem-mini_portile2": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "MIT"
              },
              "chef-gem-nokogiri": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "MIT"
              },
              "chef-gem-ruby-prof": {
                "locked_version": "0.15.9",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.15.9",
                "license": "BSD-2-CLAUSE"
              },
              "chef-gem-byebug": {
                "locked_version": "9.0.5",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "9.0.5",
                "license": "MIT"
              },
              "chef-gem-debug_inspector": {
                "locked_version": "0.0.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.0.2",
                "license": "MIT"
              },
              "chef-gem-binding_of_caller": {
                "locked_version": "0.7.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.7.2",
                "license": "MIT"
              },
              "chef-gem-ffi": {
                "locked_version": "1.9.13",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.9.13",
                "license": "BSD-3-CLAUSE"
              },
              "chef-gem-json": {
                "locked_version": "1.8.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.8.3",
                "license": "Ruby"
              },
              "chef-gem-ruby-shadow": {
                "locked_version": "2.5.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.5.0",
                "license": "Public-Domain"
              },
              "chef": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-appbundle": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files"
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-remove-docs": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "gem-permissions": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "shebang-cleanup": {
                "locked_version": "0.0.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.2",
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "openssl-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/openssl-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "clean-static-libs": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "chef-complete": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              }
            },
            "build_version": "12.12.15",
            "build_git_revision": "aca2bd61c35d9cc26b351f87db62f9739151c7f6",
            "license": "Apache-2.0"
          },
          "license_content": "chef 12.12.15 license: \"Apache-2.0\"\n\n                              Apache License\n                        Version 2.0, January 2004\n                     http://www.apache.org/licenses/\n\nTERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n1. Definitions.\n\n   \"License\" shall mean the terms and conditions for use, reproduction,\n   and distribution as defined by Sections 1 through 9 of this document.\n\n   \"Licensor\" shall mean the copyright owner or entity authorized by[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/solaris2/5.11/chef-12.12.15-1.i386.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.i386.solaris.metadata.json"; filename*=UTF-8''chef-12.12.15-1.i386.solaris.metadata.json
      Content-Type:
      - application/json
      Etag:
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/5/chef-12.12.15-1.el5.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el5.i386.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el5.i386.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      - d[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/debian/6/chef_12.12.15-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_i386.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_i386.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - b7cc0215a[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/mac_os_x/10.10/chef-12.12.15-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.dmg.metadata.json"; filename*=UTF-8''chef-12.12.15-1.dmg.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 5ad8ca07c3def6a687[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/ubuntu/14.04/chef_12.12.15-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_i386.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_i386.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 1bf4d[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/windows/2012/chef-client-12.12.15-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-client-12.12.15-1-x86.msi.metadata.json"; filename*=UTF-8''chef-client-12.12.15-1-x86.msi.metadata.json
      Content-Type:
      - application/json
      E[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/ubuntu/12.04/chef_12.12.15-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_amd64.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 1f[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/5/chef-12.12.15-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el5.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el5.x86_64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
   [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/ubuntu/14.04/chef_12.12.15-1_ppc64el.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_ppc64el.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_ppc64el.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
    [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/freebsd/10/chef-12.12.15_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15_1.amd64.sh.metadata.json"; filename*=UTF-8''chef-12.12.15_1.amd64.sh.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 99735d1[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/7/chef-12.12.15-1.el7.ppc64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el7.ppc64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el7.ppc64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/windows/2008r2/chef-client-12.12.15-1-x64.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-client-12.12.15-1-x64.msi.metadata.json"; filename*=UTF-8''chef-client-12.12.15-1-x64.msi.metadata.json
      Content-Type:
      - application/json
     [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/freebsd/9/chef-12.12.15_1.i386.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15_1.i386.sh.metadata.json"; filename*=UTF-8''chef-12.12.15_1.i386.sh.metadata.json
      Content-Type:
      - application/json
      Etag:
      - a9c1890e82d[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/aix/6.1/chef-12.12.15-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.powerpc.bff.metadata.json"; filename*=UTF-8''chef-12.12.15-1.powerpc.bff.metadata.json
      Content-Type:
      - application/json
      Etag:
      - b[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/ios_xr/6/chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json
      Content-Type:
      - application/json[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/solaris2/5.11/chef-12.12.15-1.sparc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.sparc.solaris.metadata.json"; filename*=UTF-8''chef-12.12.15-1.sparc.solaris.metadata.json
      Content-Type:
      - application/json
      Eta[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/nexus/7/chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json
      Content-Type:
      - application/json
   [...]
[...]
