---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.2.1/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 0f8e8b3ee507ed7a4b5910db0b5727cfdb516de65808e8789d81e7e78fcbe8ff
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.2.1/debian/6",
          "name" : "chef_12.2.1-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.sha1",
            "value" : "60d74e65969bf7a2d27d1f25a77104bb8d9885e8"
          }, {
            "key" : "omnibus.md5",
            "value" : "af2be7b95495ab7bdc6a9fda0d9ee913"
          }, {
            "key" : "omnibus.platform",
            "value" : "debian"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.sha256",
            "value" : "19364750ceb94b421a26[...]
