---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-manage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 3b198e22e0a31c3208306d85567e18a39b9a20d3246976957c634657623140df
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/2.4.1",
            "started" : "2016-07-25T17:52:31.665+0000"
          }, {
            "uri" : "/2.2.1",
            "started" : "2016-04-04T19:50:54.490+0000"
          }, {
            "uri" : "/2.4.3+20160901093525",
            "started" : "2016-09-01T12:11:13.165+0000"
          }, {
            "uri" : "/2.4.3+20160827093520",
            "started" : "2016-08-27T12:09:35.636+0000"
          }, {
            "uri" : "/2.2.0",
            "started" : "2016-03-07T16:50:25.889+0000"
          }, {
            "uri" : "/2[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/2.4.3+20160901093525/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - ec7c72de6a07411ecb298e44b1f2454d3ace38e1f3aea9142a2d584609d31309
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:37 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/2.4.3/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 1caef311f705b7d07af75552c6fb465f481f816c62385b68fa71b51df0b97a20
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-manage/2.4.3/el/6",
          "name" : "chef-manage-2.4.3-1.el6.x86_64.rpm",
          "properties" : [ {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef-MLSA"
          }, {
            "key" : "omnibus.sha1",
            "value" : "0f58439022f8c9c04abd26e7edfa0f2b4bf45df8"
          }, {
            "key" : "omnibus.sha512",
            "value" : "7d2ca7856e41fe4a3d24cd9ae9da24acfbc2ae8a5ef8582565cdda065e0049600cd464dd5ef1867a4a9712ca4cada2e5a36f78eb21a7461adfa1acf8c64c3501"
          }, {
            "key" : "omnibus.sha256",
            "value" : "2095e2cce34ba1e469357b03f6e7757f17ccadffed28f0e0a447d3bcf2f1c965"
          }, {
        [...]
[...]
