---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-manage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 3b198e22e0a31c3208306d85567e18a39b9a20d3246976957c634657623140df
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/2.4.1",
            "started" : "2016-07-25T17:52:31.665+0000"
          }, {
            "uri" : "/2.2.1",
            "started" : "2016-04-04T19:50:54.490+0000"
          }, {
            "uri" : "/2.4.3+20160901093525",
            "started" : "2016-09-01T12:11:13.165+0000"
          }, {
            "uri" : "/2.4.3+20160827093520",
            "started" : "2016-08-27T12:09:35.636+0000"
          }, {
            "uri" : "/2.2.0",
            "started" : "2016-03-07T16:50:25.889+0000"
          }, {
            "uri" : "/2[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/2.4.3+20160901093525/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - ec7c72de6a07411ecb298e44b1f2454d3ace38e1f3aea9142a2d584609d31309
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:37 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/2.4.3/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 1caef311f705b7d07af75552c6fb465f481f816c62385b68fa71b51df0b97a20
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-manage/2.4.3/el/6",
          "name" : "chef-manage-2.4.3-1.el6.x86_64.rpm",
          "properties" : [ {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef-MLSA"
          }, {
            "key" : "omnibus.sha1",
            "value" : "0f58439022f8c9c04abd26e7edfa0f2b4bf45df8"
          }, {
            "key" : "omnibus.sha512",
            "value" : "7d2ca7856e41fe4a3d24cd9ae9da24acfbc2ae8a5ef8582565cdda065e0049600cd464dd5ef1867a4a9712ca4cada2e5a36f78eb21a7461adfa1acf8c64c3501"
          }, {
            "key" : "omnibus.sha256",
            "value" : "2095e2cce34ba1e469357b03f6e7757f17ccadffed28f0e0a447d3bcf2f1c965"
          }, {
        [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef-manage/2.4.3/el/6/chef-manage-2.4.3-1.el6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-manage-2.4.3-1.el6.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-manage-2.4.3-1.el6.x86_64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 29ec1163f85be29897b13a36b09a0f4306263d40
      Last-Modified:
      - Wed, 24 Aug 2016 21:15:13 GMT
      X-Artifactory-Filename:
      - chef-manage-2.4.3-1.el6.x86_64.rpm.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 52c1c0bf367bb79304ebf862ad732f57
      X-Checksum-Sha1:
      - 29ec1163f85be29897b13a36b09a0f4306263d40
      Fastly-Debug-Digest:
      - 9fd9372e0a9fe3493c8122f67f68964155effea801ec285ba84ff9a1f8eb4497
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef-manage-2.4.3-1.el6.x86_64.rpm",
          "md5": "cb0fd962a298a52b77739125dfde2edd",
          "sha1": "0f58439022f8c9c04abd26e7edfa0f2b4bf45df8",
          "sha256": "2095e2cce34ba1e469357b03f6e7757f17ccadffed28f0e0a447d3bcf2f1c965",
          "sha512": "7d2ca7856e41fe4a3d24cd9ae9da24acfbc2ae8a5ef8582565cdda065e0049600cd464dd5ef1867a4a9712ca4cada2e5a36f78eb21a7461adfa1acf8c64c3501",
          "platform": "el",
          "platform_version": "6",
          "arch": "x86_64",
          "name": "chef-manage",
          "friendly_name": "Chef Management Console",
          "homepage": "https://www.chef.io/",
          "version": "2.4.3",
          "iteration": 1,
          "license": "Chef-MLSA",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://iweb.dl.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016.01.20",
                "locked_source": {
                  "md5": "36eee0e80373937dd90a9a334ae42817",
                  "url": "https://raw.githubusercontent.com/bagder/ca-bundle/dfcc02c918b7bf40ed3a7f27a634c74ef4e80829/ca-bundle.crt"
                },
                "source_type": "url",
                "described_version": "2016.01.20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.25",
                "locked_source": {
                  "md5": "a47db46cb117805bd6947aa5928a7436",
                  "url": "http://xorg.freedesktop.org/releases/individual/proto/xproto-7.0.25.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.25",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.18.0",
                "locked_source": {
                  "md5": "fd0ba21b3179703c071bbb4c3e5fb0f4",
                  "url": "http://xorg.freedesktop.org/releases/individual/util/util-macros-1.18.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.18.0",
                "license": "MIT"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "http://git.savannah.gnu.org/r/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "http://xorg.freedesktop.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4",
                "locked_source": {
                  "md5": "b32b04148ecdd7344abc6fe8bd1bb021",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "ruby": {
                "locked_version": "2.2.2",
                "locked_source": {
                  "md5": "326e99ddc75381c7b50c85f7089f3260",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.2/ruby-2.2.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.2.2",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.4.8",
                "locked_source": {
                  "md5": "dc77b51449dffe5b31776bff826bf559",
                  "url": "http://production.cf.rubygems.org/rubygems/rubygems-2.4.8.tgz"
                },
                "source_type": "url",
                "described_version": "2.4.8",
                "license": "MIT"
              },
              "rb-readline": {
                "locked_version": "cf67cd06ae89e8b2710ba930c3015639240ac7b7",
                "locked_source": {
                  "git": "https://github.com/ConnorAtherton/rb-readline.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "BSD-3-Clause"
              },
              "bundler": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.3",
                "locked_source": {
                  "md5": "daece17e045f1c107610e137ab50c179",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.3.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.3",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.28",
                "locked_source": {
                  "md5": "9667bf6f9310b957254fdcf6596600b7",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.28.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.28",
                "license": "MIT"
              },
              "ncurses": {
                "locked_version": "5.9",
                "locked_source": {
                  "md5": "8cb9c412e5f2d96bc6f459aa8c6282a1",
                  "url": "https://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.9",
                "license": "MIT"
              },
              "bzip2": {
                "locked_version": "1.0.6",
                "locked_source": {
                  "md5": "00b516f4704d4a7cb50a1d97e6e8e15b",
                  "url": "http://www.bzip.org/1.0.6/bzip2-1.0.6.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.0.6",
                "license": "BSD-2-Clause"
              },
              "python": {
                "locked_version": "2.7.9",
                "locked_source": {
                  "md5": "5eebcaa0030dc4061156d3429657fb83",
                  "url": "https://python.org/ftp/python/2.7.9/Python-2.7.9.tgz"
                },
                "source_type": "url",
                "described_version": "2.7.9",
                "license": "Python-2.0"
              },
              "nodejs": {
                "locked_version": "0.10.35",
                "locked_source": {
                  "url": "https://nodejs.org/dist/v0.10.35/node-v0.10.35.tar.gz",
                  "md5": "2c00d8cf243753996eecdc4f6e2a2d11"
                },
                "source_type": "url",
                "described_version": "0.10.35",
                "license": "MIT"
              },
              "redis": {
                "locked_version": "3.0.4",
                "locked_source": {
                  "md5": "9e535dea3dc5301de012047bf3cca952",
                  "url": "http://download.redis.io/releases/redis-3.0.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.0.4",
                "license": "BSD-3-Clause"
              },
              "libarchive": {
                "locked_version": "3.1.2",
                "locked_source": {
                  "url": "http://www.libarchive.org/downloads/libarchive-3.1.2.tar.gz",
                  "md5": "efad5a503f66329bb9d2f4308b5de98a"
                },
                "source_type": "url",
                "described_version": "3.1.2",
                "license": "BSD-2-Clause"
              },
              "nokogiri": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "dep-selector-libgecode": {
                "locked_version": "1.2.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "berkshelf": {
                "locked_version": "65764576948de68dbc795eee4a9d1026ef3dffd9",
                "locked_source": {
                  "git": "https://github.com/berkshelf/berkshelf.git"
                },
                "source_type": "git",
                "described_version": "v4.2.3",
                "license": "Apache-2.0"
              },
              "omnibus-ctl": {
                "locked_version": "627375ef61e4ac2af2c56a7ebe648fa3eb7a0cfb",
                "locked_source": {
                  "git": "https://github.com/chef/omnibus-ctl.git"
                },
                "source_type": "git",
                "described_version": "v0.5.0",
                "license": "Apache-2.0"
              },
              "curl": {
                "locked_version": "7.47.1",
                "locked_source": {
                  "md5": "3f9d1be7bf33ca4b8c8602820525302b",
                  "url": "https://curl.haxx.se/download/curl-7.47.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.47.1",
                "license": "MIT"
              },
              "chef-gem": {
                "locked_version": "12.4.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "12.4.1",
                "license": "Apache-2.0"
              },
              "chef-manage": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-manage-build/architecture/x86_64/platform/el-6/project/chef-manage/role/builder/omnibus/files/../../src/chef-manage"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "chef-manage-cookbooks": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-manage-build/architecture/x86_64/platform/el-6/project/chef-manage/role/builder/omnibus/files/cookbooks"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "chef-manage-ctl": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-manage-build/architecture/x86_64/platform/el-6/project/chef-manage/role/builder/omnibus/files/ctl-commands"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "runit": {
                "locked_version": "2.1.1",
                "locked_source": {
                  "md5": "8fa53ea8f71d88da9503f62793336bc3",
                  "url": "http://smarden.org/runit/runit-2.1.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.1",
                "license": "BSD-3-Clause"
              },
              "chef-manage-changelog": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-manage-build/architecture/x86_64/platform/el-6/project/chef-manage/role/builder/omnibus/files/../../"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              }
            },
            "build_version": "2.4.3",
            "build_git_revision": "e2c06de716f073be7eaf04e070fe8db6fcc272e5",
            "license": "Chef-MLSA"
          },
          "license_content": "chef-manage 2.4.3 license: \"Chef-MLSA\"\n\nUse of Chef Manage is subject to the terms of the Chef Master License and\nServices Agreement. You can find the latest copy of the agreement here:\nhttps://www.chef.io/online-master-agreement/\n\n\n\nThis product bundles berkshelf v4.2.3,\nwhich is available under a \"Apache-2.0\" License.\nFor details, see:\n/opt/chef-manage/LICENSES/berkshelf-LICENSE\n\nThis product bundles bundler ,\nwhich is available under a \"MIT\" License.\nFor details, see:\n[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef-manage/2.4.3/ubuntu/16.04/chef-manage_2.4.3-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-manage_2.4.3-1_amd64.deb.metadata.json"; filename*=UTF-8''chef-manage_2.4.3-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      [...]
[...]
