---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: The requested path was not found.
  recorded_at: Tue, 16 Aug 2016 18:21:54 GMT
- request:
    method: get
    uri: http://mixlib-install:%25mKPtzbT1JH1wm333kjkkjs39oeuFLgZ8vNoOdLBPd%29TZAJsURs9w0HloWR%24l6h@artifactory.chef.co/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.13.36+20160812051326",
            "started" : "2016-08-12T05:48:41.844+0000"
          }, {
            "uri" : "/12.13.30+20160809181757",
            "started" : "2016-08-09T18:53:32.983+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.13.41",
            "started" : "2016-08-15T21:45:30.909+0000"
          }, {
            "[...]
- request:
    method: post
    uri: http://mixlib-install:%25mKPtzbT1JH1wm333kjkkjs39oeuFLgZ8vNoOdLBPd%29TZAJsURs9w0HloWR%24l6h@artifactory.chef.co/api/search/aql
    body:
      encoding: UTF-8
      string: |
        items.find(
          {"repo": "omnibus-stable-local"},
          {"@omnibus.project": "chef"},
          {"@omnibus.version": "12.14.1"},
          {"name": {"$nmatch": "*.metadata.json" }}
        ).include("repo", "path", "name", "property")
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Tue, 16 Aug 2016 18:25:30 GMT
[...]
- request:
    method: post
    uri: http://mixlib-install:%25mKPtzbT1JH1wm333kjkkjs39oeuFLgZ8vNoOdLBPd%29TZAJsURs9w0HloWR%24l6h@artifactory.chef.co/api/search/aql
    body:
      encoding: UTF-8
      string: |
        items.find(
          {"repo": "omnibus-stable-local"},
          {"@omnibus.project": "chef"},
          {"@omnibus.version": "12.13.37"},
          {"name": {"$nmatch": "*.metadata.json" }}
        ).include("repo", "path", "name", "property")
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.13.37/debian/6",
          "name" : "chef_12.13.37-1_amd64.deb",
          "properties" : [ {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.platform",
            "value" : "debian"
          }, {
            "key" : "omnibus.sha512",
            "value" : "de66061ce2a234feb4e8613dadfa56fb593c932b5252407b7ef82ba5c2003bafc8c131a68b524f4838179cb9c9da0358b55fac080a04fdf2fc6cfc110f11f79f"
          }, {
            "key" : "build.number",
            "value" : "12.13.37"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6"
          }, {
            [...]
