---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/angry-omnibus-toolchain/99.99.99/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 31bb73b1267d4b24aecac78675fb8a0156032a882accc4306e81cd2bf2fa3376
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Fri, 17 Mar 2017 16:31:51 GMT
recorded_with: VCR 3.0.3
