---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 95c3f977110f1415:-d235d3d:15d87f229f8:-7ffd
      Fastly-Debug-Digest:
      - 0a32afe2663b41d0ee74f329302c6408919035aa48687c2682b0f39211863db2
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.0.3/debian/6",
          "name" : "chef_12.0.3-1_amd64.deb",
          "type" : "file",
          "size" : 39752872,
          "created" : "2014-12-16T18:32:46.187Z",
          "created_by" : "jenkins",
          "modified" : "2014-12-16T18:32:46.178Z",
          "modified_by" : "jenkins",
          "updated" : "2014-12-16T18:32:46.178Z",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.0.3"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.0.3/debian/6",
          "name" : "chef_12.0.3-1_i386.deb",
          "type" : "file",
          "size" : 39442036,
          "created" : "2014-12-16T18:33:34.774Z",
          "created_by" : "jenkins",
          "modified" : "2014-12-16T18:33:34.773Z",
          "modified_by" : "jenkins",
          "updated" : "2014-12-16T18:33:34.773Z",
          "properties" : [ {
            [...]
