---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/stable/chefdk/0.7.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: The requested path was not found.
  recorded_at: Tue, 16 Aug 2016 18:35:14 GMT
- request:
    method: get
    uri: http://package-acceptance.es.chef.io/api/stable/chefdk/0.7.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head><meta
        http-equiv="refresh" content="0;url=http://finder.cox.net/main?ParticipantID=96e687opkbv4scrood8k84drs6gw5duf&FailedURI=http%3A%2F%2Fpackage-acceptance.es.chef.io%2Fapi%2Fstable%2Fchefdk%2F0.7.0%2Fartifacts&FailureMode=1&Implementation=&AddInType=4&Version=pywr1.0&ClientLocation=us"/><script
        type="text/javascript">url="http://finder.cox.net/main?ParticipantID=96e687opkbv4scrood8k84drs6gw5duf&FailedURI=http%3A%2F%2Fpackage-acceptance.es.chef.io%2Fapi%2Fstable%2Fchefdk%2F0.7.0%2Fartifacts&FailureMode=1&Implementation=&AddInType=4&Version=pywr1.0&ClientLocation=us";if(top.location!=location){var
        w=window,d=document,e=d.documentElement,b=d.body,x=w.innerWidth||e.clientWidth||b.clientWidth,y=w.innerHeight||e.clientHeight||b.clientHeight;url+="&w="+x+"&h="+y;}window.location.replace(url);</script></head><body></body></html>
  recorded_at: Tue, 16 Aug 2016 18:40:39 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/stable/chefdk/0.7.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - a5b9c103531bdc279fc63a07fb716e8ae385deb647ffa4ec6ebd56b8e15b3f7d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.7.0/mac_os_x/10.10",
          "name" : "chefdk-0.7.0-1.dmg",
          "properties" : [ {
            "key" : "build.number",
            "value" : "0.7.0"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.platform",
            "value" : "mac_os_x"
          }, {
            "key" : "omnibus.sha256",
            "value" : "5732bb6048f980cce4786ab786275cc6fd19fa2ee02efa4191f86afc5a14becc"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.sha1",
            "value" : "d02224d1c458[...]
