---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/delivery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 47f1cb5017feef3679800d0eafd89dd0aedeb36b64328492857ae4dc952e13fe
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.5.180",
            "started" : "2016-08-25T15:50:01.590+0000"
          }, {
            "uri" : "/0.5.185",
            "started" : "2016-08-25T23:51:39.866+0000"
          }, {
            "uri" : "/0.5.167",
            "started" : "2016-08-22T19:20:32.850+0000"
          }, {
            "uri" : "/0.5.200",
            "started" : "2016-08-31T15:05:35.002+0000"
          }, {
            "uri" : "/0.3.240",
            "started" : "2015-08-26T20:11:27.272+0000"
          }, {
            "uri" : "/0.5.174",
            "[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/delivery/0.5.207/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - d67b77bd51e8eb4eb73220b7690e41d578d1bd269e32a14ff2cf053449c047be
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:33 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/delivery/0.5.204/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 9fc45662173fcbe0b8338fb2d3f6d0c6216f0682691526a1dae18bda20542964
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/delivery/0.5.204/ubuntu/12.04",
          "name" : "delivery_0.5.204-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.sha1",
            "value" : "cbf6cf1fb918a46086a061c6df00bab389b7ac7f"
          }, {
            "key" : "omnibus.sha512",
            "value" : "d5f47a8eda8884af14d095c39f9da375e9f2197c2fe5e71f15a3fc4ca4a23d511c87114517c2de30061aacd14572dfc6a7ac01b294a381b7e7282f3994c78b1d"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.platform_version",
            "valu[...]
