---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/chef-ha/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 19c9baa4a97064c0b9255dfc282802a0cc1e2c1eb3b5fb159a03a8a44c15559d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Wed, 08 Mar 2017 21:34:35 GMT
- request:
    method: get
    uri: https://chefdownload-commercial.chef.io/unstable/chef-ha/versions/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '"Missing license_id query param"'
  recorded_at: Mon, 18 May 2026 16:19:38 GMT
recorded_with: VCR 6.4.0
