---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/build/chefdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: The requested path was not found.
  recorded_at: Wed, 17 Aug 2016 23:11:40 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/build/chefdk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 26229f4109b2fa9bff81af5696cd1d86a172a246eab5a6229417cabce98844ff
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.17.15",
            "started" : "2016-08-13T01:27:34.396+0000"
          }, {
            "uri" : "/0.17.18",
            "started" : "2016-08-15T19:57:54.829+0000"
          }, {
            "uri" : "/0.17.11",
            "started" : "2016-08-09T20:18:42.133+0000"
          }, {
            "uri" : "/0.17.10",
            "started" : "2016-08-09T18:02:22.869+0000"
          }, {
            "uri" : "/0.16.31",
            "started" : "2016-07-19T16:25:57.113+0000"
          }, {
            "uri" : "/0.8.1",
            "st[...]
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/stable/chefdk/0.17.19/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 58ecab02810a7ce784bb43826058806eff8fcf54b247b676d98b61f1cae39a5a
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Wed, 17 Aug 2016 23:19:46 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/stable/chefdk/0.17.18+20160816190841/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 7a44da8c2ec51fae82d4be39c6a8ee46a43ed4d09300ab4a5088e5a543fd0933
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 17 Aug 2016 23:19:46 GMT
[...]
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/stable/chefdk/0.17.17/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - da198b1bd058ec69a2b78ae6ea34514371c79c7d6a6c927d3a7151e51ce3b5af
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.17.17/ubuntu/14.04",
          "name" : "chefdk_0.17.17-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.17.17"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.sha1",
            "value" : "fc37aadfbe5057b70783946852782afecb677e2d"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "build.name",
            "value" : "chefdk"
          }, {
            "key" : "delivery.change"
          }, {
[...]
