---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 6fe0cb89c296ca523062f94443cc0fea088bae322c2f91a6caf55d925f6a8955
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.14.41",
            "started" : "2016-08-30T05:05:40.452+0000"
          }, {
            "uri" : "/12.14.43+20160901173048",
            "started" : "2016-09-01T20:16:08.891+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.14.4[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef/12.14.43+20160901173048/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - cef72bf16de9c0fd4e0aa8ecfd6b43e609d1b3270d4929001801ab70cb3b2acc
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:32 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef/12.14.43/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 3725789294585fe4798edf8fa49fe46b20e9fa4576999e3906896053dacfa594
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:32 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef/12.14.40/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 3c24929af962e0419e9d12d9fb1b6fe4e4655fef7c2a2231b0cced735ca52341
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef/12.14.40/solaris2/5.10",
          "name" : "chef-12.14.40-1.sparc.solaris",
          "properties" : [ {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.version",
            "value" : "12.14.40"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "build.number",
            "value" : "12.14.40"
          }, {
            "key" : "omnibus.sha1",
            "value" : "01e7fd42f0794f078bd36a18d76a763f896df2df"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "omnibus.platform",
            "value" : "solaris2"
          }, {
            "key" [...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/solaris2/5.10/chef-12.14.40-1.sparc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - e8f6b22de56597c749bd3e65081bb909a112e33c6cc556b2bc1b6ce7da2dd349
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:27 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/mac_os_x/10.9/chef-12.14.40-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - d5c5975509bcb76b079e331cfc4543b24f3c9745bee6ca80e7daf8ba246d604d
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:00 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/freebsd/10/chef-12.14.40_1.i386.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 13457428597cc558acb186df9a5c630c88e9a9535958c35fb6b8d3d388959f32
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:00 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/freebsd/9/chef-12.14.40_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 74fb12c685ce86a6bf74e112b89432c7f30566b4483a93c4a8dde0034440c028
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:00 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/ubuntu/12.04/chef_12.14.40-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - e6e3ebb22478169b7e70e33a2f2e46e8f64c89301cb526d538da923be08edcb4
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:00 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/windows/2012/chef-client-12.14.40-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 976ca23eae327d90ab84e68c4ee352ba113ca4f4f82fe42f9310d44f8d5e527c
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:00 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/nexus/7/chef-12.14.40-1.nexus7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 0fc3b1fa5b4ba090a64c36a797eae1ef1bce9cd7b5b1a10de564138b48e4ca53
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:01 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/el/6/chef-12.14.40-1.el6.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 7cffc2779a07b75149444cb2891a538e0594433c15766953301730efcd7dbaac
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:01 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/ubuntu/12.04/chef_12.14.40-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 6ee6ae32e03e4ab657528b9425533f5f74f9d4b6f0f3dde936886679529edb0c
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:01 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/el/5/chef-12.14.40-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 28d3315cbd64ab9b840e56cbb0fd9131b290907a05559bdcc4b10cb90f0452ba
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:01 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/windows/2012r2/chef-client-12.14.40-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 633942c035773f24b7c38b725176f398732af0c4b4b91fca3ed3cc5c6a975743
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:02 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/solaris2/5.11/chef-12.14.40-1.i386.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - a6ff2893eda72633556bfe20b8e7446587eb2438a332a9a0743e5a8137958034
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:03 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/aix/6.1/chef-12.14.40-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 6b57a6fcaa8f2d1c673cfe5b6c33878c1f2d4a279b8e4aebcfedfed6e4541e2a
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:03 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/debian/8/chef_12.14.40-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - edf905d7f9ad3ad5c341c95c43d57c23567b1792489670ea798676d77c0a0fbd
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:03 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/ios_xr/6/chef-12.14.40-1.ios_xr6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 00d38f0c87f8af5dd56c22da7eefd28454ef9c90360c5f061c622168f1dfb2e6
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:04 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/el/7/chef-12.14.40-1.el7.ppc64le.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - c723ea6b1db995cb444eeac4733f6ceaf4c4ebeebe42e65fe9af3f21a885c2ef
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:04 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/el/7/chef-12.14.40-1.el7.ppc64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - a898610ea3a46ca83c182861a35acd7bcb55ff92dff56b69dd1aae90f5c1bc07
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:05 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/debian/6/chef_12.14.40-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 3dc8b126085ac3a97f741b4e24bffad005d1936e946176ca082fb5f0397d9666
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:05 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef/12.14.40/ubuntu/14.04/chef_12.14.40-1_ppc64el.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - a53dd7451cfcb68d24f154b338e7a150c7f94b60cca85abc641f811b0f7cf608
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:07 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - 7057df07a380cc056c81e7c0559580d98720e639b324db76bf610d6f709cc5c0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef/12.16.21/nexus/7",
          "name" : "chef-12.16.21-1.nexus7.x86_64.rpm",
          "type" : "file",
          "size" : 36915985,
          "created" : "2016-10-24T15:18:41.077Z",
          "created_by" : "jenkins",
          "modified" : "2016-10-24T15:18:39.598Z",
          "modified_by" : "jenkins",
          "updated" : "2016-10-24T15:18:39.598Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-10-24T18:39:17.500Z",
                "build.created_by" : "jenkins",
                "build.name" : "chef",
                "build.number" : "12.16.21"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.16.21"
          } ]
        },{
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef/12.16.21/mac_os_x/10.10",
          "name" : "chef-12.16.21-1.dmg",
          "type" : "file",
          "size" : 29891299,
          "created" : "2016-10-24T15:16:29.918Z",
          "created_by" : "jenkins",
          "modified" [...]
[...]
