---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: The requested path was not found.
  recorded_at: Wed, 17 Aug 2016 23:11:38 GMT
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 1da7651e658552f417beaca6a0205730c90e9159736b58af409636d58a85e517
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.13.15",
            "started" : "2016-07-29T04:35:56.667+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.12.15",
            "started" : "2016-07-09T18:22:29.311+0000"
          }, {
            "uri" : "/12.4.2",
            "[...]
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/unstable/chef/12.14.12/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - 87db89d20e2da9490106698fc42cfbc0fd924de61b11df9f1bc72b1c57488ba2
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.14.12/ubuntu/14.04",
          "name" : "chef_12.14.12-1_ppc64el.deb",
          "properties" : [ {
            "key" : "omnibus.md5",
            "value" : "5d4fc789b85e141520c8feb1a73f00a3"
          }, {
            "key" : "omnibus.sha1",
            "value" : "d1159795945d468a2653c60b95a0ecd957a88901"
          }, {
            "key" : "omnibus.sha256",
            "value" : "8766b0876f9f8a083b2a773e89d7fae7b51eea6cbbd03461fed8761ada86179c"
          }, {
            "key" : "omnibus.architecture",
            "value" : "ppc64le"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
           [...]
