---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/supermarket/2.5.2/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - 904cc4418ac23629c0f8b6f50eb68df64906d6dfe753d8bf788d61f3b2fc5cff
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/supermarket/2.5.2/ubuntu/12.04",
          "name" : "supermarket_2.5.2-1_amd64.deb",
          "properties" : [ {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.md5",
            "value" : "15c8af5577e7186afabb14e2799de034"
          }, {
            "key" : "sha256",
            "value" : "45631cd555c8eacf9eac0970ddd1508c5e762f77bbd49248fdfbc9e16c309d5b"
          }, {
            "key" : "build.name",
            "value" : "supermarket"
          }, {
            "key" : "omnibus.platform",
            "value" : "ubuntu"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.platform_version",
            "v[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/supermarket/2.5.2/ubuntu/12.04/supermarket_2.5.2-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="supermarket_2.5.2-1_amd64.deb.metadata.json"; filename*=UTF-8''supermarket_2.5.2-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 5d19d9518a592b6f6309396d4b099577f97cfbf4
      Last-Modified:
      - Thu, 14 Apr 2016 23:09:48 GMT
      X-Artifactory-Filename:
      - supermarket_2.5.2-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      X-Checksum-Md5:
      - 5efbe002df014e2ffb63e2268040e30a
      X-Checksum-Sha1:
      - 5d19d9518a592b6f6309396d4b099577f97cfbf4
      Fastly-Debug-Digest:
      - c3255228c88e5a54bc2d0bc5a83fdcee83681f85801c2d88fc9070dc84abb414
    body:
      encoding: UTF-8
      string: |-
        {
          "basename": "supermarket_2.5.2-1_amd64.deb",
          "md5": "15c8af5577e7186afabb14e2799de034",
          "sha1": "dfd5ac147e17db42092bba0fc134b29da63df222",
          "sha256": "45631cd555c8eacf9eac0970ddd1508c5e762f77bbd49248fdfbc9e16c309d5b",
          "sha512": "74b5b53de9f38e3db5f4015c491db8f07c8b925afdc6fb7365495c10aabd24895a1cd0845172d1541d8e5b8f71e4dfa41164786a0582a12aa8568da24191704a",
          "platform": "ubuntu",
          "platform_version": "10.04",
          "arch": "x86_64",
          "name": "supermarket",
          "friendly_name": "Supermarket",
          "homepage": "https://supermarket.getchef.com",
          "version": "2.5.2",
          "iteration": 1
        }
  recorded_at: Tue, 23 May 2017 15:56:03 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/supermarket/2.5.2/el/5/supermarket-2.5.2-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="supermarket-2.5.2-1.el5.x86_64.rpm.metadata.json"; filename*=UTF-8''supermarket-2.5.2-1.el5.x86_64.rpm.metadata.json
      Content-Type:
      - application/json[...]
[...]
