---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 6fe0cb89c296ca523062f94443cc0fea088bae322c2f91a6caf55d925f6a8955
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/12.13.38",
            "started" : "2016-08-13T05:13:05.382+0000"
          }, {
            "uri" : "/12.7.2",
            "started" : "2016-02-11T17:48:20.541+0000"
          }, {
            "uri" : "/12.14.41",
            "started" : "2016-08-30T05:05:40.452+0000"
          }, {
            "uri" : "/12.14.43+20160901173048",
            "started" : "2016-09-01T20:16:08.891+0000"
          }, {
            "uri" : "/12.9.41",
            "started" : "2016-04-13T18:23:34.557+0000"
          }, {
            "uri" : "/12.14.4[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.14.43+20160901173048/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - c532f02991b5ec692e2481af32115d380bde5ef38cfc0996c463017126ca105a
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:45 GMT
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.14.43/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 80bef2b96ec856f48fa7fe6c91b406f8892646d00d15518e3046533152122c66
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 20:16:45 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.13.37/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 36ddf7a90cb5ca2d4d70322eef5abd2ccc4a1f1b41b519bab7b2110e146d49e1
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.13.37/debian/6",
          "name" : "chef_12.13.37-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "chef"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "delivery.sha"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.md5",
            "value" : "11ce3c1596d8faef1f658abdfe611d2c"
          }, {
            "key" : "omnibus.iteration",
            "value" : [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/debian/6/chef_12.13.37-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.13.37-1_amd64.deb.metadata.json"; filename*=UTF-8''chef_12.13.37-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 54a10b66d186931ee8ca30d21b734602aa76cce9
      Last-Modified:
      - Fri, 12 Aug 2016 21:37:11 GMT
      X-Artifactory-Filename:
      - chef_12.13.37-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 8175aa1b7274fd620d775276f3560614
      X-Checksum-Sha1:
      - 54a10b66d186931ee8ca30d21b734602aa76cce9
      Fastly-Debug-Digest:
      - 6102d7e1d7a20ad78ccf4f676fed6c409978a91225772925cbf6816fb91b531b
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef_12.13.37-1_amd64.deb",
          "md5": "11ce3c1596d8faef1f658abdfe611d2c",
          "sha1": "00a9be581602d2738d64cc81ae5b591889e45c87",
          "sha256": "42743b9d982e9d97806669d7c4e30557174cdbd648073bc52bedaad55e84ce25",
          "sha512": "de66061ce2a234feb4e8613dadfa56fb593c932b5252407b7ef82ba5c2003bafc8c131a68b524f4838179cb9c9da0358b55fac080a04fdf2fc6cfc110f11f79f",
          "platform": "debian",
          "platform_version": "6",
          "arch": "x86_64",
          "name": "chef",
          "friendly_name": "Chef Client",
          "homepage": "https://www.chef.io",
          "version": "12.13.37",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "git://git.sv.gnu.org/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.28",
                "locked_source": {
                  "md5": "0b42843b99aee3e4f6a9cc7710143f86",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.28.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.28",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.19.0",
                "locked_source": {
                  "md5": "40e1caa49a71a26e0aa68ddd00203717",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.19.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.19.0",
                "license": "MIT"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4.2",
                "locked_source": {
                  "md5": "d2f3b7d4627e69e13514a40e72a24d50",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4.2",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "2.1.9",
                "locked_source": {
                  "sha256": "034cb9c50676d2c09b3b6cf5c8003585acea05008d9a29fa737c54d52c1eb70c",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.9",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.6.6",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.6.6",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.12.5",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.12.5",
                "license": "MIT"
              },
              "chef-gem-libyajl2": {
                "locked_version": "1.2.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "chef-gem-ffi-yajl": {
                "locked_version": "2.3.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.3.0",
                "license": "MIT"
              },
              "chef-gem-pkg-config": {
                "locked_version": "1.1.7",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.1.7",
                "license": "LGPL-2.1"
              },
              "chef-gem-mini_portile2": {
                "locked_version": "2.1.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.1.0",
                "license": "MIT"
              },
              "chef-gem-nokogiri": {
                "locked_version": "1.6.8",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.6.8",
                "license": "MIT"
              },
              "chef-gem-ruby-prof": {
                "locked_version": "0.15.9",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.15.9",
                "license": "BSD-2-CLAUSE"
              },
              "chef-gem-byebug": {
                "locked_version": "9.0.5",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "9.0.5",
                "license": "MIT"
              },
              "chef-gem-debug_inspector": {
                "locked_version": "0.0.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.0.2",
                "license": "MIT"
              },
              "chef-gem-binding_of_caller": {
                "locked_version": "0.7.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.7.2",
                "license": "MIT"
              },
              "chef-gem-ffi": {
                "locked_version": "1.9.14",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.9.14",
                "license": "BSD-3-CLAUSE"
              },
              "chef-gem-json": {
                "locked_version": "1.8.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.8.3",
                "license": "Ruby"
              },
              "chef-gem-ruby-shadow": {
                "locked_version": "2.5.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.5.0",
                "license": "Public-Domain"
              },
              "chef": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-appbundle": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files"
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-remove-docs": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "gem-permissions": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "shebang-cleanup": {
                "locked_version": "0.0.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.2",
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "openssl-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/x86_64/platform/debian-6/project/chef/role/builder/omnibus/files/openssl-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "clean-static-libs": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "chef-complete": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              }
            },
            "build_version": "12.13.37",
            "build_git_revision": "2523b34af9566daf20cc35cdd9985edc102b0f17",
            "license": "Apache-2.0"
          },
          "license_content": "chef 12.13.37 license: \"Apache-2.0\"\n\n                              Apache License\n                        Version 2.0, January 2004\n                     http://www.apache.org/licenses/\n\nTERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n1. Definitions.\n\n   \"License\" shall mean the terms and conditions for use, reproduction,\n   and distribution as defined by Sections 1 through 9 of this document.\n\n   \"Licensor\" shall mean the copyright owner or entity authorized by[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/ubuntu/14.04/chef_12.13.37-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.13.37-1_amd64.deb.metadata.json"; filename*=UTF-8''chef_12.13.37-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 84[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/ubuntu/12.04/chef_12.13.37-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.13.37-1_i386.deb.metadata.json"; filename*=UTF-8''chef_12.13.37-1_i386.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 8b1d4[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/el/6/chef-12.13.37-1.el6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.el6.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.13.37-1.el6.x86_64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
   [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/el/7/chef-12.13.37-1.el7.ppc64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.el7.ppc64.rpm.metadata.json"; filename*=UTF-8''chef-12.13.37-1.el7.ppc64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/el/6/chef-12.13.37-1.el6.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.el6.i386.rpm.metadata.json"; filename*=UTF-8''chef-12.13.37-1.el6.i386.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 7[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/solaris2/5.10/chef-12.13.37-1.sparc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.sparc.solaris.metadata.json"; filename*=UTF-8''chef-12.13.37-1.sparc.solaris.metadata.json
      Content-Type:
      - application/json
      Eta[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/windows/2012/chef-client-12.13.37-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-client-12.13.37-1-x86.msi.metadata.json"; filename*=UTF-8''chef-client-12.13.37-1-x86.msi.metadata.json
      Content-Type:
      - application/json
      E[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/freebsd/9/chef-12.13.37_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37_1.amd64.sh.metadata.json"; filename*=UTF-8''chef-12.13.37_1.amd64.sh.metadata.json
      Content-Type:
      - application/json
      Etag:
      - b9ed5a32[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/windows/2008r2/chef-client-12.13.37-1-x64.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-client-12.13.37-1-x64.msi.metadata.json"; filename*=UTF-8''chef-client-12.13.37-1-x64.msi.metadata.json
      Content-Type:
      - application/json
     [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/solaris2/5.10/chef-12.13.37-1.i386.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.i386.solaris.metadata.json"; filename*=UTF-8''chef-12.13.37-1.i386.solaris.metadata.json
      Content-Type:
      - application/json
      Etag:
[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/ubuntu/14.04/chef_12.13.37-1_ppc64el.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef_12.13.37-1_ppc64el.deb.metadata.json"; filename*=UTF-8''chef_12.13.37-1_ppc64el.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
    [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/mac_os_x/10.9/chef-12.13.37-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.dmg.metadata.json"; filename*=UTF-8''chef-12.13.37-1.dmg.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 73b43af5c2cc0db3bb8[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/ios_xr/6/chef-12.13.37-1.ios_xr6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.ios_xr6.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.13.37-1.ios_xr6.x86_64.rpm.metadata.json
      Content-Type:
      - application/json[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.13.37/aix/6.1/chef-12.13.37-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-12.13.37-1.powerpc.bff.metadata.json"; filename*=UTF-8''chef-12.13.37-1.powerpc.bff.metadata.json
      Content-Type:
      - application/json
      Etag:
      - 9[...]
[...]
