---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/push-jobs-client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 76f4b1e27a31d0c4af2f0f7af37f1b6881eb42f92db49e85bc3a3539dba09b48
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/2.1.1+20160815080109",
            "started" : "2016-08-15T08:37:09.933+0000"
          }, {
            "uri" : "/2.1.1+20160820080109",
            "started" : "2016-08-20T08:37:00.046+0000"
          }, {
            "uri" : "/2.1.1+20160814080111",
            "started" : "2016-08-14T08:36:53.833+0000"
          }, {
            "uri" : "/2.1.1+20160810214018",
            "started" : "2016-08-10T21:48:20.245+0000"
          }, {
            "uri" : "/2.1.1",
            "started" : "2016-08-10T21:04:27.542+0000"
          }, {
        [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.1.1+20160831080112/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 5897af996c9db9f9cc61202275fe7ef8d5b99aa8782a804cea6d215dec8ac4de
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:35 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.1.1/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 75fb7e9e5f4f2ff7b722710c4ac1af32169b472b5577d772dfd4848126502ca3
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/2.1.1/ubuntu/16.04",
          "name" : "push-jobs-client_2.1.1-1_amd64.deb",
          "properties" : [ {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "16.04"
          }, {
            "key" : "build.name",
            "value" : "push-jobs-client"
          }, {
            "key" : "omnibus.platform",
            "value" : "ubuntu"
          }, {
            "key" : "omnibus.version",
            "value" : "2.1.1"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.sha512",
      [...]
[...]
