---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/push-jobs-client
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 76f4b1e27a31d0c4af2f0f7af37f1b6881eb42f92db49e85bc3a3539dba09b48
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/2.1.1+20160815080109",
            "started" : "2016-08-15T08:37:09.933+0000"
          }, {
            "uri" : "/2.1.1+20160820080109",
            "started" : "2016-08-20T08:37:00.046+0000"
          }, {
            "uri" : "/2.1.1+20160814080111",
            "started" : "2016-08-14T08:36:53.833+0000"
          }, {
            "uri" : "/2.1.1+20160810214018",
            "started" : "2016-08-10T21:48:20.245+0000"
          }, {
            "uri" : "/2.1.1",
            "started" : "2016-08-10T21:04:27.542+0000"
          }, {
        [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.1.1+20160831080112/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
      Fastly-Debug-Digest:
      - 5897af996c9db9f9cc61202275fe7ef8d5b99aa8782a804cea6d215dec8ac4de
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body bgcolor=\"white\">\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Thu, 01 Sep 2016 20:16:35 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.1.1/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 75fb7e9e5f4f2ff7b722710c4ac1af32169b472b5577d772dfd4848126502ca3
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/2.1.1/ubuntu/16.04",
          "name" : "push-jobs-client_2.1.1-1_amd64.deb",
          "properties" : [ {
            "key" : "delivery.change"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "16.04"
          }, {
            "key" : "build.name",
            "value" : "push-jobs-client"
          }, {
            "key" : "omnibus.platform",
            "value" : "ubuntu"
          }, {
            "key" : "omnibus.version",
            "value" : "2.1.1"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.sha512",
      [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/ubuntu/16.04/push-jobs-client_2.1.1-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client_2.1.1-1_amd64.deb.metadata.json"; filename*=UTF-8''push-jobs-client_2.1.1-1_amd64.deb.metadata.json
      Content-Type:
      - application/json
      Etag:
      - f5584bb79a99b27b6a65f49804d373b60fb53f75
      Last-Modified:
      - Wed, 10 Aug 2016 20:47:11 GMT
      X-Artifactory-Filename:
      - push-jobs-client_2.1.1-1_amd64.deb.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 76b0d1180b22991a8dab0bb2b9a89dfa
      X-Checksum-Sha1:
      - f5584bb79a99b27b6a65f49804d373b60fb53f75
      Fastly-Debug-Digest:
      - 0e5e021e69b77d9ac634e11a2e07a73c74c215d4f84f13d7ce3dd5418858d966
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "push-jobs-client_2.1.1-1_amd64.deb",
          "md5": "cd78f28d36da692d593b6fd7a27b9e49",
          "sha1": "ed47eb75a041c59afbcab3c575e630f4682f3ccb",
          "sha256": "3c7e54dba282703c3c95acd608d7337cabc26140f64c3e3f133c3474836a48e9",
          "sha512": "598e86617dbb9d42353932391ea733b28c7a901bfd29ea91eb8faca9755a54bfbd9c3b256b64e54b58ea8165d462c603ae7551d76659a0c0dee9218e9737fb9f",
          "platform": "ubuntu",
          "platform_version": "12.04",
          "arch": "x86_64",
          "name": "push-jobs-client",
          "friendly_name": "Push Jobs Client",
          "homepage": "https://www.chef.io",
          "version": "2.1.1",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.25",
                "locked_source": {
                  "md5": "a47db46cb117805bd6947aa5928a7436",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.25.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.25",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.18.0",
                "locked_source": {
                  "md5": "fd0ba21b3179703c071bbb4c3e5fb0f4",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.18.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.18.0",
                "license": "MIT"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "git://git.sv.gnu.org/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4",
                "locked_source": {
                  "md5": "b32b04148ecdd7344abc6fe8bd1bb021",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "ruby": {
                "locked_version": "2.1.8",
                "locked_source": {
                  "md5": "091b62f0a9796a3c55de2a228a0e6ef3",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.8",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.5.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.5.2",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.11.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.11.2",
                "license": "MIT"
              },
              "appbundler": {
                "locked_version": "a8376ff735ec63d6f4e3cffe971223516890239c",
                "locked_source": {
                  "git": "https://github.com/chef/appbundler.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "ohai": {
                "locked_version": "438fdeba4532c78161e01ade9d23d108ff8bac33",
                "locked_source": {
                  "git": "https://github.com/opscode/ohai.git"
                },
                "source_type": "git",
                "described_version": "v8.13.0",
                "license": "Apache-2.0"
              },
              "chef": {
                "locked_version": "9ffa9708a0ddc126b82cfd768dfdf15a42525666",
                "locked_source": {
                  "git": "https://github.com/chef/chef.git"
                },
                "source_type": "git",
                "described_version": "12.8.1",
                "license": "Apache-2.0"
              },
              "openssl-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/push-jobs-client-build/architecture/x86_64/platform/ubuntu-12.04/project/push-jobs-client/role/builder/omnibus/files/openssl-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "m4": {
                "locked_version": "1.4.17",
                "locked_source": {
                  "url": "https://ftp.gnu.org/gnu/m4/m4-1.4.17.tar.gz",
                  "md5": "a5e9954b1dae036762f7b13673a2cf76"
                },
                "source_type": "url",
                "described_version": "1.4.17",
                "license": "GPL-3.0"
              },
              "autoconf": {
                "locked_version": "2.68",
                "locked_source": {
                  "md5": "c3b5247592ce694f7097873aa07d66fe",
                  "url": "https://ftp.gnu.org/gnu/autoconf/autoconf-2.68.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.68",
                "license": "GPL-3.0"
              },
              "automake": {
                "locked_version": "1.11.2",
                "locked_source": {
                  "md5": "79ad64a9f6e83ea98d6964cef8d8a0bc",
                  "url": "https://ftp.gnu.org/gnu/automake/automake-1.11.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.11.2",
                "license": "GPL-2.0"
              },
              "libsodium": {
                "locked_version": "1.0.2",
                "locked_source": {
                  "md5": "dc40eb23e293448c6fc908757738003f",
                  "url": "https://download.libsodium.org/libsodium/releases/libsodium-1.0.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.0.2",
                "license": "ISC"
              },
              "libzmq": {
                "locked_version": "4.0.5",
                "locked_source": {
                  "md5": "73c39f5eb01b9d7eaf74a5d899f1d03d",
                  "url": "http://download.zeromq.org/zeromq-4.0.5.tar.gz"
                },
                "source_type": "url",
                "described_version": "4.0.5",
                "license": "LGPL-3.0"
              },
              "rb-readline": {
                "locked_version": "cf67cd06ae89e8b2710ba930c3015639240ac7b7",
                "locked_source": {
                  "git": "https://github.com/ConnorAtherton/rb-readline.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "BSD-3-Clause"
              },
              "opscode-pushy-client": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/push-jobs-client-build/architecture/x86_64/platform/ubuntu-12.04/project/push-jobs-client/role/builder/omnibus/files/../..",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "Apache-2.0"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "clean-static-libs": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              }
            },
            "build_version": "2.1.1",
            "build_git_revision": "56c1bdad4645548d7db8b4cf393be04303595ea0",
            "license": "Apache-2.0"
          },
          "license_content": "push-jobs-client 2.1.1 license: \"Apache-2.0\"\n\n                              Apache License\n                        Version 2.0, January 2004\n                     http://www.apache.org/licenses/\n\nTERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n1. Definitions.\n\n   \"License\" shall mean the terms and conditions for use, reproduction,\n   and distribution as defined by Sections 1 through 9 of this document.\n\n   \"Licensor\" shall mean the copyright owner or entity auth[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/mac_os_x/10.11/push-jobs-client-2.1.1-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client-2.1.1-1.dmg.metadata.json"; filename*=UTF-8''push-jobs-client-2.1.1-1.dmg.metadata.json
      Content-Type:
      - application/json
  [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/windows/2012r2/push-jobs-client-2.1.1-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client-2.1.1-1-x86.msi.metadata.json"; filename*=UTF-8''push-jobs-client-2.1.1-1-x86.msi.metadata.json
      Content-Type:
      - applica[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/el/6/push-jobs-client-2.1.1-1.el6.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client-2.1.1-1.el6.i386.rpm.metadata.json";
        filename*=UTF-8''push-jobs-client-2.1.1-1.el6.i386.rpm.metadata.json
      Content-Type:
  [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/el/6/push-jobs-client-2.1.1-1.el6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client-2.1.1-1.el6.x86_64.rpm.metadata.json";
        filename*=UTF-8''push-jobs-client-2.1.1-1.el6.x86_64.rpm.metadata.json
      Content-Ty[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/windows/2012/push-jobs-client-2.1.1-1-x86.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client-2.1.1-1-x86.msi.metadata.json"; filename*=UTF-8''push-jobs-client-2.1.1-1-x86.msi.metadata.json
      Content-Type:
      - applicati[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/debian/8/push-jobs-client_2.1.1-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client_2.1.1-1_i386.deb.metadata.json"; filename*=UTF-8''push-jobs-client_2.1.1-1_i386.deb.metadata.json
      Content-Type:
      - applicatio[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/ubuntu/16.04/push-jobs-client_2.1.1-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client_2.1.1-1_i386.deb.metadata.json"; filename*=UTF-8''push-jobs-client_2.1.1-1_i386.deb.metadata.json
      Content-Type:
      - applic[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/push-jobs-client/2.1.1/debian/8/push-jobs-client_2.1.1-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="push-jobs-client_2.1.1-1_amd64.deb.metadata.json"; filename*=UTF-8''push-jobs-client_2.1.1-1_amd64.deb.metadata.json
      Content-Type:
      - applica[...]
[...]
