---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - d8e3fed9bad07afd:4e33889:158b21ce9a7:-7f45
      Fastly-Debug-Digest:
      - ebf77379d5e6af2b406af2d3cd053100d59e12db3d141dc6fe578127628e57ed
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-manage/2.1.1/el/7",
          "name" : "chef-manage-2.1.1-1.el7.x86_64.rpm",
          "type" : "file",
          "size" : 253530864,
          "created" : "2015-12-01T02:30:41.710Z",
          "created_by" : "jenkins",
          "modified" : "2015-12-01T02:30:37.345Z",
          "modified_by" : "jenkins",
          "updated" : "2015-12-01T02:30:37.345Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2015-12-01T16:16:12.645Z",
                "build.created_by" : "lita",
                "build.name" : "chef-manage",
                "build.number" : "2.1.1"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "2.1.1"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-manage/2.1.1/ubuntu/14.04",
          "name" : "chef-manage_2.1.1-1_amd64.deb",
          "type" : "file",
          "size" : 238307920,
          "created" : "2015-12-01T02:30:30.738Z",
          "created_by" : "jenkins",
          "modified" : "2015-12-01T02:30:27.595Z",
          "modified_by" : "jenkins",
          "updated" : "2015-12-01T02:30:27.595Z",
          "artifacts" : [...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-manage/2.4.4/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - d8e3fed9bad07afd:4e33889:158b21ce9a7:-7f45
      Fastly-Debug-Digest:
      - b2d5245feb01e9a61ca712e1c4e2974b02d3b348e94cfb52f8e38bacee94469e
    body:
      encoding: UTF-8
      str[...]
