---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c0b556d6682aedf3b43baeacdcc432d1a4eba98b
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/1.3.3/debian/6",
          "name" : "push-jobs-client_1.3.3-1_amd64.deb",
          "type" : "file",
          "size" : 57921652,
          "created" : "2015-09-18T00:58:16.282Z",
          "created_by" : "jenkins",
          "modified" : "2015-09-18T00:58:15.289Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T12:27:12.370Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2020-08-04T03:41:20.788Z",
                "build.created_by" : "lita",
                "build.name" : "push-jobs-client",
                "build.number" : "1.3.3",
                "build.started" : "2015-09-18T00:58:22.412Z"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "1.3.3"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/push-jobs-client/1.3.3/debian/6",
          "name" : "push-jobs-client_1.3.3-1_i386.deb",
          "type" : "file",
          "size" : 57326646,
          "created" : "2015-09-18T00:58:15.250Z",
          "created_by" : "jenkins",
          "modified" : "2015-09-18T00:58:14.492Z",
          "modified_by" : "jenkins",
          "updated" : "2020-07-03T12:27:15.323Z",
          "artifacts[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/push-jobs-client/2.5.6/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c0b556d6682aedf3b43baeacdcc432d1a4eba98b
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
     [...]
