---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/stable/chefdk/0.3.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: The requested path was not found.
  recorded_at: Tue, 16 Aug 2016 18:21:58 GMT
- request:
    method: post
    uri: http://mixlib-install:%25mKPtzbT1JH1wm333kjkkjs39oeuFLgZ8vNoOdLBPd%29TZAJsURs9w0HloWR%24l6h@artifactory.chef.co/api/search/aql
    body:
      encoding: UTF-8
      string: |
        items.find(
          {"repo": "omnibus-stable-local"},
          {"@omnibus.project": "chefdk"},
          {"@omnibus.version": "0.3.0"},
          {"name": {"$nmatch": "*.metadata.json" }}
        ).include("repo", "path", "name", "property")
    headers:
      Content-Type:
      - text/plain
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.3.0/debian/6",
          "name" : "chefdk_0.3.0-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6"
          }, {
            "key" : "omnibus.sha256",
            "value" : "6953b43954c22376c47d35ebe0c3a26fa5707aeee4925e5bd4888388c7030ea7"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.platform",
            "value" : "debian"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
   [...]
