---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chefdk/0.7.0/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 9018165da1d9263b45abf0c068d6fdce20e29167313c77f207af0d845c903166
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chefdk/0.7.0/mac_os_x/10.10",
          "name" : "chefdk-0.7.0-1.dmg",
          "properties" : [ {
            "key" : "omnibus.platform",
            "value" : "mac_os_x"
          }, {
            "key" : "omnibus.version",
            "value" : "0.7.0"
          }, {
            "key" : "omnibus.project",
            "value" : "chefdk"
          }, {
            "key" : "omnibus.md5",
            "value" : "e0bae9554fb42ee1315b94082a19677f"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "10.10"
          }, {
            "key" : "omnibus.sha1",
            "value" : "d02224d1c458f6564fc9b818ab139380a5c65fec"
   [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/mac_os_x/10.10/chefdk-0.7.0-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 2eecccd475c001721f25593431af21b6afcd29b351e882a8d325348460424dec
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:29:03 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/windows/2012/chefdk-0.7.0-1.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 2b99a45c04e14bfbd4e110e2617620e1689e3c2cc32fa1a91e5486ac0b9ce4ab
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:47 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/debian/6/chefdk_0.7.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 5fb8abc108e0029234a07a2adce4197b0829fb771adb07781f645aba453c3581
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:47 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/windows/2012r2/chefdk-0.7.0-1.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 6588b01cc47c70de76cfdda4286967e4180c2a45accc33b56eb06ca2c41e6890
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:47 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/el/7/chefdk-0.7.0-1.el7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 8ad1886964cef7b549964b6e90e335cbf2d9d14f9bdcd1597350bda988a1e6ff
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:47 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/ubuntu/14.04/chefdk_0.7.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 46b993df4f0304d6a69f7485740cd005ef7579c7540bb085a3a656b8d4257fcf
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:48 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chefdk/0.7.0/ubuntu/12.04/chefdk_0.7.0-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - aa0681821e45b5ebfbfe2839bd5cc967146a57a02fc5cc2d50664957ce2bda03
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 17:02:48 GMT
recorded_with: VCR 3.0.3
