---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/99.99.99/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 91ce5e713616ab7d:4a171d30:159f1ef5b3a:-7f1a
      Fastly-Debug-Digest:
      - ff981990553e179077c9b9eaf2ed924bad01dd9fa39edcfb831e67f86d7d8bc8
    body:
      encoding: ASCII-8BIT
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Wed, 24 May 2017 21:48:48 GMT
recorded_with: VCR 3.0.3
