---
http_interactions:
- request:
    method: get
    uri: http://packages-acceptance.es.chef.io/api/unstable/chef/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1dcef39e6f995f9:-764e34f:1569312d758:-7f5d
      Fastly-Debug-Digest:
      - b7a90fe592ab0c1b774fcebee00bd50adf9ab06248efc530f75e30968aac98e9
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.13.30+20160809171126/ubuntu/14.04",
          "name" : "chef_12.13.30+20160809171126-1_ppc64el.deb",
          "type" : "file",
          "size" : 58747014,
          "created" : "2016-08-09T17:17:24.764Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-09T17:17:22.408Z",
          "modified_by" : "jenkins",
          "updated" : "2016-08-09T17:17:22.408Z",
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "12.13.30+20160809171126"
          } ]
        },{
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/chef/12.13.30+20160809171126/mac_os_x/10.9",
          "name" : "chef-12.13.30+20160809171126-1.dmg",
          "type" : "file",
          "size" : 48723948,
          "created" : "2016-08-09T17:17:47.212Z",
          "created_by" : "jenkins",
          "modified" : "2016-08-09T17:17:42.538Z",
          "modified_by" : "jenkins",
          "updated" : "2016-08-09T17:1[...]
