---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-compliance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 91df3080832ba4e395b736c61bc09e485af0e410b0d2e300b31d2e9682b43638
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/1.3.1",
            "started" : "2016-05-31T12:45:26.722+0000"
          }, {
            "uri" : "/0.16.9",
            "started" : "2016-03-23T16:20:28.318+0000"
          }, {
            "uri" : "/0.14.1",
            "started" : "2016-02-22T17:13:11.009+0000"
          }, {
            "uri" : "/0.11.1",
            "started" : "2016-02-08T09:43:06.698+0000"
          }, {
            "uri" : "/1.2.3",
            "started" : "2016-05-17T17:17:40.455+0000"
          }, {
            "uri" : "/0.10.4",
            "starte[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-compliance/1.4.10/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 68fae56bfba0bb1631ebcf747ac4ab4be342a1bf2976b6ae01bc7e867319f719
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-compliance/1.4.10/el/6",
          "name" : "chef-compliance-1.4.10-1.el6.x86_64.rpm",
          "properties" : [ {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.sha512",
            "value" : "24373ce9096b92325df3d4b1ae5c92eb71bd7018ab38da30aeddbcc08f7495646670e290be79077dfd416df2640add4b16bec4f6ee71062e4cd6a422e190b220"
          }, {
            "key" : "build.name",
            "value" : "chef-compliance"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6"
          }, [...]
[...]
