---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-compliance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 91df3080832ba4e395b736c61bc09e485af0e410b0d2e300b31d2e9682b43638
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/1.3.1",
            "started" : "2016-05-31T12:45:26.722+0000"
          }, {
            "uri" : "/0.16.9",
            "started" : "2016-03-23T16:20:28.318+0000"
          }, {
            "uri" : "/0.14.1",
            "started" : "2016-02-22T17:13:11.009+0000"
          }, {
            "uri" : "/0.11.1",
            "started" : "2016-02-08T09:43:06.698+0000"
          }, {
            "uri" : "/1.2.3",
            "started" : "2016-05-17T17:17:40.455+0000"
          }, {
            "uri" : "/0.10.4",
            "starte[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-compliance/1.4.10/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 68fae56bfba0bb1631ebcf747ac4ab4be342a1bf2976b6ae01bc7e867319f719
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-compliance/1.4.10/el/6",
          "name" : "chef-compliance-1.4.10-1.el6.x86_64.rpm",
          "properties" : [ {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.architecture",
            "value" : "x86_64"
          }, {
            "key" : "omnibus.sha512",
            "value" : "24373ce9096b92325df3d4b1ae5c92eb71bd7018ab38da30aeddbcc08f7495646670e290be79077dfd416df2640add4b16bec4f6ee71062e4cd6a422e190b220"
          }, {
            "key" : "build.name",
            "value" : "chef-compliance"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6"
          }, [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef-compliance/1.4.10/el/6/chef-compliance-1.4.10-1.el6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-compliance-1.4.10-1.el6.x86_64.rpm.metadata.json";
        filename*=UTF-8''chef-compliance-1.4.10-1.el6.x86_64.rpm.metadata.json
      Content-Type:
      - application/json
      Etag:
      - f0a111fa533e8300d607d9400e45dcb61a90de9a
      Last-Modified:
      - Tue, 30 Aug 2016 18:36:45 GMT
      X-Artifactory-Filename:
      - chef-compliance-1.4.10-1.el6.x86_64.rpm.metadata.json
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      X-Checksum-Md5:
      - 5b1d67a22c4923cea75ba81431af4447
      X-Checksum-Sha1:
      - f0a111fa533e8300d607d9400e45dcb61a90de9a
      Fastly-Debug-Digest:
      - 1dcaffe096b4e84f210167293eb2b7a897ebf676b948521acbeaf949be627ac8
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef-compliance-1.4.10-1.el6.x86_64.rpm",
          "md5": "038f94268a9fe67b127d4cb8586701d6",
          "sha1": "f0f7ea484dc95f35771598aa177d4a30570cbc25",
          "sha256": "c7d6a4f96e9c3bdb80d9a7de74f4a5417371b986f153a64771b64d30cb66dac4",
          "sha512": "24373ce9096b92325df3d4b1ae5c92eb71bd7018ab38da30aeddbcc08f7495646670e290be79077dfd416df2640add4b16bec4f6ee71062e4cd6a422e190b220",
          "platform": "el",
          "platform_version": "6",
          "arch": "x86_64",
          "name": "chef-compliance",
          "friendly_name": "Chef-compliance",
          "homepage": "https://chef.io",
          "version": "1.4.10",
          "iteration": 1,
          "license": "Chef MLSA",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "config_guess": {
                "locked_version": "c224acab50b20d4339b11df4a49baf9671c300c8",
                "locked_source": {
                  "git": "git://git.sv.gnu.org/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "ncurses": {
                "locked_version": "5.9",
                "locked_source": {
                  "md5": "8cb9c412e5f2d96bc6f459aa8c6282a1",
                  "url": "https://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.9",
                "license": "MIT"
              },
              "libedit": {
                "locked_version": "20120601-3.0",
                "locked_source": {
                  "md5": "e50f6a7afb4de00c81650f7b1a0f5aea",
                  "url": "http://www.thrysoee.dk/editline/libedit-20120601-3.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "20120601-3.0",
                "license": "BSD-3-Clause"
              },
              "pcre": {
                "locked_version": "8.38",
                "locked_source": {
                  "md5": "8a353fe1450216b6655dfcf3561716d9",
                  "url": "http://downloads.sourceforge.net/project/pcre/pcre/8.38/pcre-8.38.tar.gz"
                },
                "source_type": "url",
                "described_version": "8.38",
                "license": "BSD-2-Clause"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://downloads.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "xproto": {
                "locked_version": "7.0.25",
                "locked_source": {
                  "md5": "a47db46cb117805bd6947aa5928a7436",
                  "url": "https://www.x.org/releases/individual/proto/xproto-7.0.25.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.0.25",
                "license": "MIT"
              },
              "util-macros": {
                "locked_version": "1.18.0",
                "locked_source": {
                  "md5": "fd0ba21b3179703c071bbb4c3e5fb0f4",
                  "url": "https://www.x.org/releases/individual/util/util-macros-1.18.0.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.18.0",
                "license": "MIT"
              },
              "pkg-config-lite": {
                "locked_version": "0.28-1",
                "locked_source": {
                  "md5": "61f05feb6bab0a6bbfab4b6e3b2f44b6",
                  "url": "http://downloads.sourceforge.net/project/pkgconfiglite/0.28-1/pkg-config-lite-0.28-1.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.28-1",
                "license": "GPL-2.0"
              },
              "makedepend": {
                "locked_version": "1.0.5",
                "locked_source": {
                  "url": "https://www.x.org/releases/individual/util/makedepend-1.0.5.tar.gz",
                  "md5": "efb2d7c7e22840947863efaedc175747"
                },
                "source_type": "url",
                "described_version": "1.0.5",
                "license": "MIT"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "go": {
                "locked_version": "1.6.1",
                "locked_source": {
                  "md5": "e277d18dac8a0b9945d4c53adf6e52ee",
                  "url": "https://storage.googleapis.com/golang/go1.6.1.linux-amd64.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.6.1",
                "license": "BSD-2-Clause"
              },
              "godep": {
                "locked_version": "v58",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "v58",
                "license": "BSD-2-Clause"
              },
              "curl": {
                "locked_version": "7.47.1",
                "locked_source": {
                  "md5": "3f9d1be7bf33ca4b8c8602820525302b",
                  "url": "https://curl.haxx.se/download/curl-7.47.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "7.47.1",
                "license": "MIT"
              },
              "libtool": {
                "locked_version": "2.4",
                "locked_source": {
                  "md5": "b32b04148ecdd7344abc6fe8bd1bb021",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "ruby": {
                "locked_version": "2.2.4",
                "locked_source": {
                  "md5": "9a5e15f9d5255ba37ace18771b0a8dd2",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.2/ruby-2.2.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.2.4",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "bundler": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "omnibus-ctl": {
                "locked_version": "627375ef61e4ac2af2c56a7ebe648fa3eb7a0cfb",
                "locked_source": {
                  "git": "https://github.com/chef/omnibus-ctl.git"
                },
                "source_type": "git",
                "described_version": "v0.5.0",
                "license": "Apache-2.0"
              },
              "ohai": {
                "locked_version": "438fdeba4532c78161e01ade9d23d108ff8bac33",
                "locked_source": {
                  "git": "https://github.com/opscode/ohai.git"
                },
                "source_type": "git",
                "described_version": "v8.13.0",
                "license": "Apache-2.0"
              },
              "appbundler": {
                "locked_version": "379a06cc58e0d150fb966b49a16df4c70bb9d4d4",
                "locked_source": {
                  "git": "https://github.com/chef/appbundler.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Apache-2.0"
              },
              "chef": {
                "locked_version": "5d1a312bbbfc651d4ee4dce1e8fe923002c8aaea",
                "locked_source": {
                  "git": "https://github.com/chef/chef.git"
                },
                "source_type": "git",
                "described_version": "v12.9.29",
                "license": "Apache-2.0"
              },
              "runit": {
                "locked_version": "2.1.1",
                "locked_source": {
                  "md5": "8fa53ea8f71d88da9503f62793336bc3",
                  "url": "http://smarden.org/runit/runit-2.1.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.1",
                "license": "BSD-3-Clause"
              },
              "perl": {
                "locked_version": "5.18.1",
                "locked_source": {
                  "md5": "304cb5bd18e48c44edd6053337d3386d",
                  "url": "http://www.cpan.org/src/5.0/perl-5.18.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.18.1",
                "license": "Artistic-2.0"
              },
              "cpanminus": {
                "locked_version": "1.7004",
                "locked_source": {
                  "md5": "02fe90392f33a12979e188ea110dae67",
                  "url": "https://github.com/miyagawa/cpanminus/archive/1.7004.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.7004",
                "license": "Artistic-2.0"
              },
              "sqitch": {
                "locked_version": "0.973",
                "locked_source": {
                  "md5": "0994e9f906a7a4a2e97049c8dbaef584",
                  "url": "https://github.com/theory/sqitch/releases/download/v0.973/app-sqitch-0.973.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.973",
                "license": "MIT"
              },
              "libossp-uuid": {
                "locked_version": "1.6.2",
                "locked_source": {
                  "md5": "5db0d43a9022a6ebbbc25337ae28942f",
                  "url": "https://www.mirrorservice.org/sites/ftp.ossp.org/pkg/lib/uuid/uuid-1.6.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.6.2",
                "license": "MIT"
              },
              "postgresql": {
                "locked_version": "9.5.1",
                "locked_source": {
                  "md5": "11e037afaa4bd0c90bb3c3d955e2b401",
                  "url": "https://ftp.postgresql.org/pub/source/v9.5.1/postgresql-9.5.1.tar.bz2"
                },
                "source_type": "url",
                "described_version": "9.5.1",
                "license": "PostgreSQL"
              },
              "perl_pg_driver": {
                "locked_version": "3.3.0",
                "locked_source": {
                  "url": "http://search.cpan.org/CPAN/authors/id/T/TU/TURNSTEP/DBD-Pg-3.3.0.tar.gz",
                  "md5": "547de1382a47d66872912fe64282ff55"
                },
                "source_type": "url",
                "described_version": "3.3.0",
                "license": "Artistic-2.0"
              },
              "pg-gem": {
                "locked_version": "0.17.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.17.1",
                "license": "BSD-2-Clause"
              },
              "libarchive": {
                "locked_version": "3.1.2",
                "locked_source": {
                  "url": "http://www.libarchive.org/downloads/libarchive-3.1.2.tar.gz",
                  "md5": "efad5a503f66329bb9d2f4308b5de98a"
                },
                "source_type": "url",
                "described_version": "3.1.2",
                "license": "BSD-2-Clause"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "nokogiri": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "MIT"
              },
              "dep-selector-libgecode": {
                "locked_version": "1.2.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "berkshelf": {
                "locked_version": "bdf2727dd611e8a3e272f5c190cde1a280af0e32",
                "locked_source": {
                  "git": "https://github.com/berkshelf/berkshelf.git"
                },
                "source_type": "git",
                "described_version": "v4.3.3",
                "license": "Apache-2.0"
              },
              "sshpass": {
                "locked_version": "1.05",
                "locked_source": {
                  "url": "http://downloads.sourceforge.net/project/sshpass/sshpass/1.05/sshpass-1.05.tar.gz",
                  "md5": "c52d65fdee0712af6f77eb2b60974ac7"
                },
                "source_type": "url",
                "described_version": "1.05",
                "license": "GPL-2.0"
              },
              "inspec": {
                "locked_version": "202d4e0f97b5dc2b88df13d686eae36320a5a53c",
                "locked_source": {
                  "git": "git@github.com:chef/inspec.git"
                },
                "source_type": "git",
                "described_version": "v0.32.0",
                "license": "Apache-2.0"
              },
              "openresty": {
                "locked_version": "1.9.7.2",
                "locked_source": {
                  "md5": "78a263de11ff43c95e847f208cce0899",
                  "url": "https://openresty.org/download/ngx_openresty-1.9.7.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.9.7.2",
                "license": "BSD-2-Clause"
              },
              "dex": {
                "locked_version": "9da2177e4c2dd5f3827ad6a8109c78a660b74fbf",
                "locked_source": {
                  "git": "git@github.com:chef/dex"
                },
                "source_type": "git",
                "described_version": "chef",
                "license": "Apache-2.0"
              },
              "chef-compliance-ctl": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-compliance-build/architecture/x86_64/platform/el-6/project/chef-compliance/role/builder/omnibus/files/chef-compliance-ctl-commands"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "chef-compliance-cookbooks": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-compliance-build/architecture/x86_64/platform/el-6/project/chef-compliance/role/builder/omnibus/files/chef-compliance-cookbooks"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "ui": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-compliance-build/architecture/x86_64/platform/el-6/project/chef-compliance/role/builder/omnibus/files/../../ui"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "core": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-compliance-build/architecture/x86_64/platform/el-6/project/chef-compliance/role/builder/omnibus/files/../../",
                  "options": {
                    "exclude": [
                      "**/vendor/bundle"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "inspec-scap": {
                "locked_version": "30e7b02fd4053e5efa19728ca564575fdcaa3621",
                "locked_source": {
                  "git": "git@github.com:chef/inspec-scap.git"
                },
                "source_type": "git",
                "described_version": "v0.7.0",
                "license": "Chef MLSA"
              },
              "inspec-msccm": {
                "locked_version": "a8959b5c73d9eca218f56e16f8d6048ecfc50610",
                "locked_source": {
                  "git": "git@github.com:chef/inspec-msccm.git"
                },
                "source_type": "git",
                "described_version": "v0.1.3",
                "license": "Chef MLSA"
              },
              "compliance-profiles": {
                "locked_version": "3b74e3e3319ae884439acb66c1ab2837c3d5b21a",
                "locked_source": {
                  "git": "git@github.com:chef/compliance-profiles.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "Chef MLSA"
              },
              "remove-go": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "remove-ruby-extras": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              }
            },
            "build_version": "1.4.10",
            "build_git_revision": "36fe8be516cfbae348f65c8df5bf02817fd29c7e",
            "license": "Chef MLSA"
          },
          "license_content": "chef-compliance 1.4.10 license: \"Chef MLSA\"\n\nUse of Chef Compliance is subject to the term of the Chef Master License and\nServices Agreement. You can find the latest copy of the agreement here:\nhttps://www.chef.io/online-master-agreement/\n\n\n\nThis product bundles appbundler master,\nwhich is available under a \"Apache-2.0\" License.\nFor details, see:\n/opt/chef-compliance/LICENSES/appbundler-LICENSE.txt\n\nThis product bundles berkshelf v4.3.3,\nwhich is available under a \"Apache-2.[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef-compliance/1.4.10/ubuntu/12.04/chef-compliance_1.4.10-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="chef-compliance_1.4.10-1_amd64.deb.metadata.json"; filename*=UTF-8''chef-compliance_1.4.10-1_amd64.deb.metadata.json
      Content-Type:
      - app[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef-compliance/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - a5076d9a5d5dc0f9e64be451a0019081dabb0d69666f7d6e7b07064d46f6414c
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-compliance/0.9.0/el/7",
          "name" : "chef-compliance-0.9.0-1.el7.x86_64.rpm",
          "type" : "file",
          "size" : 143429641,
          "created" : "2015-11-03T04:50:03.545Z",
          "created_by" : "jenkins",
          "modified" : "2015-11-03T04:50:01.667Z",
          "modified_by" : "jenkins",
          "updated" : "2015-11-03T04:50:01.667Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2015-11-03T04:51:55.515Z",
                "build.created_by" : "lita",
                "build.name" : "chef-compliance",
                "build.number" : "0.9.0"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "0.9.0"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef-compliance/0.9.0/ubuntu/14.04",
          "name" : "chef-compliance_0.9.0-1_amd64.deb",
          "type" : "file",
          "size" : 139678644,
          "created" : "2015-11-03T04:49:59.221Z",
          "created_by" : "jenkins",
       [...]
[...]
