---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/chef-compliance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 91df3080832ba4e395b736c61bc09e485af0e410b0d2e300b31d2e9682b43638
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/1.3.1",
            "started" : "2016-05-31T12:45:26.722+0000"
          }, {
            "uri" : "/0.16.9",
            "started" : "2016-03-23T16:20:28.318+0000"
          }, {
            "uri" : "/0.14.1",
            "started" : "2016-02-22T17:13:11.009+0000"
          }, {
            "uri" : "/0.11.1",
            "started" : "2016-02-08T09:43:06.698+0000"
          }, {
            "uri" : "/1.2.3",
            "started" : "2016-05-17T17:17:40.455+0000"
          }, {
            "uri" : "/0.10.4",
            "starte[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef-compliance/1.4.10/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 1fe207eda091a5f0c5adab84a2e9c7c935f7244a74c743e97969db95c687fab6
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [  ],
        "range" : {
          "start_pos" : 0,
          "end_pos" : 0,
          "total" : 0
        }
        }
  recorded_at: Thu, 01 Sep 2016 21:18:49 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef-compliance/1.3.20/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 7f21fcf85497d2488b939f2a57b24922bc419267ff94b1ab527af7b29b87c43f
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef-compliance/1.3.20/ubuntu/16.04",
          "name" : "chef-compliance_1.3.20-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.project",
            "value" : "chef-compliance"
          }, {
            "key" : "delivery.change",
            "value" : "5c40388f-3eb9-478d-bad0-8707152f0786"
          }, {
            "key" : "omnibus.sha256",
            "value" : "999084be8c7b32adf5030bbf8d421b201842e4ea8919ecb32cc57944ed961ae7"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.license",
            "value" : "Chef MLSA"
          }, {
            "key" : "omnibus.platform",[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef-compliance/1.3.20/ubuntu/16.04/chef-compliance_1.3.20-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 5daca2d06dd3ef2552b0bd377b86cedcef6b1dc5a7eb006342ff7c6afc40b3ad
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:31 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/current/chef-compliance/1.3.20/el/7/chef-compliance-1.3.20-1.el7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 07ae10801dc4a8a801b511d4cdf0af7f06e2ef27ad886f437a39a5775d11ed30
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:18 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/current/chef-compliance/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c031508623683e4:-49c0c854:15826b5bd31:-7f69
      Fastly-Debug-Digest:
      - b5eabd511060a9cce89e2535c44dfe807fed0fa4787c19f0a849b7bfd719ed4a
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef-compliance/1.7.1/ubuntu/16.04",
          "name" : "chef-compliance_1.7.1-1_amd64.deb",
          "type" : "file",
          "size" : 137871222,
          "created" : "2016-11-18T18:02:07.408Z",
          "created_by" : "jenkins",
          "modified" : "2016-11-18T18:02:03.718Z",
          "modified_by" : "jenkins",
          "updated" : "2016-11-18T18:02:03.718Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-11-18T18:49:02.191Z",
                "build.created_by" : "delivery",
                "build.name" : "chef-compliance",
                "build.number" : "1.7.1"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "1.7.1"
          } ]
        },{
          "repo" : "omnibus-current-local",
          "path" : "com/getchef/chef-compliance/1.7.1/ubuntu/12.04",
          "name" : "chef-compliance_1.7.1-1_amd64.deb",
          "type" : "file",
          "size" : 137871222,
          "created" : "2016-11-18T18:02:00.753Z",
          "created_by" : "jenkins",
      [...]
[...]
