---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/inspec/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - '0668a0bc43068560:-53add108:168a4f054a3:-7ffd'
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/inspec/1.0.0/ubuntu/14.04",
          "name" : "inspec_1.0.0-1_amd64.deb",
          "type" : "file",
          "size" : 32826122,
          "created" : "2016-09-26T14:13:24.108Z",
          "created_by" : "jenkins",
          "modified" : "2016-09-26T14:13:23.663Z",
          "modified_by" : "jenkins",
          "updated" : "2016-09-26T14:13:23.663Z",
          "artifacts" : [ {
            "modules" : [ {
              "builds" : [ {
                "build.created" : "2016-09-26T14:19:25.111Z",
                "build.created_by" : "lita",
                "build.name" : "inspec",
                "build.number" : "1.0.0"
              } ]
            } ]
          } ],
          "properties" : [ {
            "key" : "omnibus.version",
            "value" : "1.0.0"
          } ]
        },{
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/inspec/1.0.0/el/7",
          "name" : "inspec-1.0.0-1.el7.x86_64.rpm",
          "type" : "file",
          "size" : 35803269,
          "created" : "2016-09-26T14:13:04.831Z",
          "created_by" : "jenkins",
          "modified" : "2016-09-26T14:13:04.349Z",
          "modified_by" : "jenkins",
          "updated" : "2016-09-26T14:13:04.349Z",
          "artifacts" : [ {
          [...]
