---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.12.15/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - 3c232a19d944e8340aad57136edabdd2c8d39ed6
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.12.15/aix/6.1",
          "name" : "chef-12.12.15-1.powerpc.bff",
          "properties" : [ {
            "key" : "build.number",
            "value" : "12.12.15"
          }, {
            "key" : "build.name",
            "value" : "chef"
          }, {
            "key" : "omnibus.md5",
            "value" : "525a399c0434f8cbad32868245d060c9"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6.1"
          }, {
            "key" : "omnibus.license",
            "value" : "Apache-2.0"
          }, {
            "key" : "omnibus.sha256",
            "value" : "fef1d4019e40f1a9f645bbc4cdaa5f43f5aeafc49add74b[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/aix/6.1/chef-12.12.15-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.powerpc.bff.metadata.json"; filename*=UTF-8''chef-12.12.15-1.powerpc.bff.metadata.json
      Etag:
      - b460f65b337e58f570c5978a836ffca91cf3cf95
      Last-Modified:
      - Sat, 09 Jul 2016 18:03:48 GMT
      X-Artifactory-Filename:
      - chef-12.12.15-1.powerpc.bff.metadata.json
      X-Artifactory-Id:
      - 3c232a19d944e8340aad57136edabdd2c8d39ed6
      X-Artifactory-Node-Id:
      - artifactory-artifactory-ha-member-0
      X-Checksum-Md5:
      - 6dc18b44333343185b06d1b3bc0795f7
      X-Checksum-Sha1:
      - b460f65b337e58f570c5978a836ffca91cf3cf95
      X-Checksum-Sha256:
      - 06e3bd0608d5d175d0539b0291112ced571257039f79f530525b2128f0674988
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "chef-12.12.15-1.powerpc.bff",
          "md5": "525a399c0434f8cbad32868245d060c9",
          "sha1": "28ab1cc09e73499fb629b46d2b950a4517d5fd61",
          "sha256": "fef1d4019e40f1a9f645bbc4cdaa5f43f5aeafc49add74bafb1501238ad88e62",
          "sha512": "7c7df953050b639678d7ed8fb679cd3fa39d2df2315e8c290032d76c5eb5e6547f58e5cd7e49553cef425b2ab7cd2c108a766721995a6d71f3df56f448a77082",
          "platform": "aix",
          "platform_version": "6.1",
          "arch": "powerpc",
          "name": "chef",
          "friendly_name": "Chef Client",
          "homepage": "https://www.chef.io",
          "version": "12.12.15",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.2.8",
                "locked_source": {
                  "md5": "44d667c142d7cda120332623eab69f40",
                  "url": "http://iweb.dl.sourceforge.net/project/libpng/zlib/1.2.8/zlib-1.2.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.2.8",
                "license": "Zlib"
              },
              "config_guess": {
                "locked_version": "562f3512b3911ba0c77a7f68214881d1f241f46e",
                "locked_source": {
                  "git": "http://git.savannah.gnu.org/r/config.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "libiconv": {
                "locked_version": "1.14",
                "locked_source": {
                  "url": "https://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.14.tar.gz",
                  "md5": "e34509b1623cec449dfeb73d7ce9c6c6"
                },
                "source_type": "url",
                "described_version": "1.14",
                "license": "LGPL-2.1"
              },
              "liblzma": {
                "locked_version": "5.2.2",
                "locked_source": {
                  "url": "http://tukaani.org/xz/xz-5.2.2.tar.gz",
                  "md5": "7cf6a8544a7dae8e8106fdf7addfa28c"
                },
                "source_type": "url",
                "described_version": "5.2.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.9.4",
                "locked_source": {
                  "md5": "ae249165c173b1ff386ee8ad676815f5",
                  "url": "ftp://xmlsoft.org/libxml2/libxml2-2.9.4.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.9.4",
                "license": "MIT"
              },
              "libxslt": {
                "locked_version": "1.1.29",
                "locked_source": {
                  "md5": "a129d3c44c022de3b9dcf6d6f288d72e",
                  "url": "ftp://xmlsoft.org/libxml2/libxslt-1.1.29.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.1.29",
                "license": "MIT"
              },
              "cacerts": {
                "locked_version": "2016-04-20",
                "locked_source": {
                  "url": "https://curl.haxx.se/ca/cacert-2016-04-20.pem",
                  "md5": "782dcde8f5d53b1b9e888fdf113c42b9"
                },
                "source_type": "url",
                "described_version": "2016-04-20",
                "license": "MPL-2.0"
              },
              "openssl": {
                "locked_version": "1.0.1t",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-1.0.1t.tar.gz",
                  "extract": "lax_tar",
                  "md5": "9837746fcf8a6727d46d22ca35953da1"
                },
                "source_type": "url",
                "described_version": "1.0.1t",
                "license": "OpenSSL"
              },
              "libtool": {
                "locked_version": "2.4.2",
                "locked_source": {
                  "md5": "d2f3b7d4627e69e13514a40e72a24d50",
                  "url": "https://ftp.gnu.org/gnu/libtool/libtool-2.4.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.4.2",
                "license": "GPL-2.0"
              },
              "libffi": {
                "locked_version": "3.2.1",
                "locked_source": {
                  "md5": "83b89587607e3eb65c70d361f13bab43",
                  "url": "ftp://sourceware.org/pub/libffi/libffi-3.2.1.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.2.1",
                "license": "MIT"
              },
              "libyaml": {
                "locked_version": "0.1.6",
                "locked_source": {
                  "url": "http://pyyaml.org/download/libyaml/yaml-0.1.6.tar.gz",
                  "md5": "5fe00cda18ca5daeb43762b80c38e06e"
                },
                "source_type": "url",
                "described_version": "0.1.6",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "2.1.8",
                "locked_source": {
                  "md5": "091b62f0a9796a3c55de2a228a0e6ef3",
                  "url": "https://cache.ruby-lang.org/pub/ruby/2.1/ruby-2.1.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "2.1.8",
                "license": "BSD-2-Clause"
              },
              "rubygems": {
                "locked_version": "2.6.4",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "2.6.4",
                "license": "MIT"
              },
              "bundler": {
                "locked_version": "1.12.5",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.12.5",
                "license": "MIT"
              },
              "chef-gem-libyajl2": {
                "locked_version": "1.2.0",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.2.0",
                "license": "Apache-2.0"
              },
              "chef-gem-ffi-yajl": {
                "locked_version": "2.2.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "2.2.3",
                "license": "MIT"
              },
              "chef-gem-pkg-config": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "LGPL-2.1"
              },
              "chef-gem-mini_portile2": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "MIT"
              },
              "chef-gem-nokogiri": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "MIT"
              },
              "chef-gem-ruby-prof": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "BSD-2-CLAUSE"
              },
              "chef-gem-byebug": {
                "locked_version": "9.0.5",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "9.0.5",
                "license": "MIT"
              },
              "chef-gem-debug_inspector": {
                "locked_version": "0.0.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.0.2",
                "license": "MIT"
              },
              "chef-gem-binding_of_caller": {
                "locked_version": "0.7.2",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "0.7.2",
                "license": "MIT"
              },
              "chef-gem-ffi": {
                "locked_version": "1.9.13",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.9.13",
                "license": "BSD-3-CLAUSE"
              },
              "chef-gem-json": {
                "locked_version": "1.8.3",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "1.8.3",
                "license": "Ruby"
              },
              "chef-gem-ruby-shadow": {
                "locked_version": "<skip>",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/chef-gem"
                },
                "source_type": "path",
                "described_version": "<skip>",
                "license": "Public-Domain"
              },
              "chef": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-appbundle": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files"
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "project_license"
              },
              "chef-remove-docs": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              },
              "gem-permissions": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "shebang-cleanup": {
                "locked_version": "0.0.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.2",
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "openssl-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/home/jenkins/workspace/chef-build/architecture/powerpc/platform/aix-6.1/project/chef/role/builder/omnibus/files/openssl-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "clean-static-libs": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "chef-complete": {
                "locked_version": null,
                "locked_source": null,
                "source_type": "project_local",
                "described_version": null,
                "license": "project_license"
              }
            },
            "build_version": "12.12.15",
            "build_git_revision": "aca2bd61c35d9cc26b351f87db62f9739151c7f6",
            "license": "Apache-2.0"
          },
          "license_content": "chef 12.12.15 license: \"Apache-2.0\"\n\n                              Apache License\n                        Version 2.0, January 2004\n                     http://www.apache.org/licenses/\n\nTERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n1. Definitions.\n\n   \"License\" shall mean the terms and conditions for use, reproduction,\n   and distribution as defined by Sections 1 through 9 of this document.\n\n   \"Licensor\" shall mean the copyright owner or entity authorized by[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/debian/6/chef_12.12.15-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_amd64.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_amd64.deb.metadata.json
      Etag:
      - d42d85[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/debian/6/chef_12.12.15-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef_12.12.15-1_i386.deb.metadata.json"; filename*=UTF-8''chef_12.12.15-1_i386.deb.metadata.json
      Etag:
      - b7cc0215a[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/5/chef-12.12.15-1.el5.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el5.i386.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el5.i386.rpm.metadata.json
      Etag:
      - d[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/5/chef-12.12.15-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el5.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el5.x86_64.rpm.metadata.json
      Etag:
   [...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/7/chef-12.12.15-1.el7.ppc64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el7.ppc64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el7.ppc64.rpm.metadata.json
      Etag:
      [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/el/7/chef-12.12.15-1.el7.ppc64le.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.el7.ppc64le.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.el7.ppc64le.rpm.metadata.json
      Etag:
[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/freebsd/10/chef-12.12.15_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15_1.amd64.sh.metadata.json"; filename*=UTF-8''chef-12.12.15_1.amd64.sh.metadata.json
      Etag:
      - 99735d1[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/freebsd/10/chef-12.12.15_1.i386.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15_1.i386.sh.metadata.json"; filename*=UTF-8''chef-12.12.15_1.i386.sh.metadata.json
      Etag:
      - 80c2a09692[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/ios_xr/6/chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.ios_xr6.x86_64.rpm.metadata.json[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/mac_os_x/10.10/chef-12.12.15-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.dmg.metadata.json"; filename*=UTF-8''chef-12.12.15-1.dmg.metadata.json
      Etag:
      - 5ad8ca07c3def6a687[...]
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/nexus/7/chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json"; filename*=UTF-8''chef-12.12.15-1.nexus7.x86_64.rpm.metadata.json
   [...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/solaris2/5.10/chef-12.12.15-1.i386.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.i386.solaris.metadata.json"; filename*=UTF-8''chef-12.12.15-1.i386.solaris.metadata.json
      Etag:
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.12.15/solaris2/5.10/chef-12.12.15-1.sparc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Disposition:
      - attachment; filename="chef-12.12.15-1.sparc.solaris.metadata.json"; filename*=UTF-8''chef-12.12.15-1.sparc.solaris.metadata.json
      Eta[...]
[...]
