---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/stable/chef/12.4.1/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - db24c5ba2918285ef50e290fe508bd20411fee298974de94d2dd84b8898bfa9d
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-stable-local",
          "path" : "com/getchef/chef/12.4.1/debian/6",
          "name" : "chef_12.4.1-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.sha512",
            "value" : "4ce6b5c467b4cba8de53dd3136428ac9d63263077e9a1bd73e5adc95497958a46d515d8f37b64db1c3272fd70c929664d05740accc178aa75c4ae4a190faf22f"
          }, {
            "key" : "omnibus.platform_version",
            "value" : "6"
          }, {
            "key" : "omnibus.sha1",
            "value" : "4d00b12472381a378153317f64c839d46dce550b"
          }, {
            "key" : "omnibus.project",
            "value" : "chef"
          }, {
            "key" : "omnibus.sha256",
            "value" : "a5ce[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/debian/6/chef_12.4.1-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 25a82787a8d5410695e51cb248d2bfd3cfcadfb0b4f84c08d876264ffd13e1b9
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:26:28 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/debian/6/chef_12.4.1-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - f45ec1703d6bb5f884fe642e97f7d72e2f1a2d2eba2d05194372d509c95b38e2
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:08 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/el/5/chef-12.4.1-1.el5.i386.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 57a73ccfa1db659d1736172a87e4ead0460ee4a0134b08b430dd35dd2d3952a4
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:09 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/el/5/chef-12.4.1-1.el5.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 396a5af4476bda528515276e2aee5fd5ef0df2c4c7e6a09fcc021e7719e6a427
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:09 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/freebsd/10/chef-12.4.1_1.amd64.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - ddd023d8d7839864a5e571f446e2122e7407a2adc2ab101273435c98132aed99
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:10 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/freebsd/10/chef-12.4.1_1.i386.sh.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 5c6f6529285301372d13cbc40c8e2ca0f26ff95e8f03e78f3affbfa5da5acbb8
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:10 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/mac_os_x/10.10/chef-12.4.1-1.dmg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - c755e9c6ea0649890f4ce2105e51d6e2a80f16fa28e57e1ec2df550f90d5a950
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:10 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/mac_os_x/10.10/chef-12.4.1-1.pkg.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - af528434cf50c92d7fa34f1623ff9612547ee429d9ef778078bf319842592375
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:11 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/solaris2/5.10/chef-12.4.1-1.i86pc.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 615b27219c6217b8a6fe1a30fb4b450703591bfa504ef4ea615696598e9c821c
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:12 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/solaris2/5.10/chef-12.4.1-1.sun4v.solaris.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 531718b29bcd99f2facd411564de57dee8b4db196ec490318656b8148ad28e61
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:12 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/ubuntu/10.04/chef_12.4.1-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 8d04bf73c4a4980c75e468df03a99acdbcf65f23ca7510ea9cc25071c35d0de5
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:12 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/ubuntu/10.04/chef_12.4.1-1_i386.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - d0bb1d66583b136aca5a8e2e3adc10f993bad4d4e357a8d9ea53059987d6dc26
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:12 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/windows/2008r2/chef-client-12.4.1-1.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 44d23b2115e509e82e6afa1514a965d5bc2e715b2d8c93e962535f37af5cc769
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:13 GMT
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/windows/2012/chef-client-12.4.1-1.msi.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - 57cdce4afdd4e37eb6680fd9362db26d4ac9d7585191fb8bbf28f460cc982d80
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:14 GMT
[...]
- request:
    method: get
    uri: https://packages.chef.io/files/stable/chef/12.4.1/aix/6.1/chef-12.4.1-1.powerpc.bff.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      X-Artifactory-Id:
      - 0feedc922c1ccc1d:739f2b45:157585d3cb1:-7f42
      Fastly-Debug-Digest:
      - d28df1634e7a1c08dc77192ac4f73705341f85973e9b1905315c3ccacb1b6913
    body:
      encoding: UTF-8
      string: |-
        {
          "errors" : [ {
            "status" : 404,
            "message" : "File not found."
          } ]
        }
  recorded_at: Tue, 04 Oct 2016 16:59:14 GMT
recorded_with: VCR 3.0.3
