---
http_interactions:
- request:
    method: get
    uri: https://packages.chef.io/api/v1/build/delivery
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.org.jfrog.build.BuildsByName+json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - 47f1cb5017feef3679800d0eafd89dd0aedeb36b64328492857ae4dc952e13fe
    body:
      encoding: UTF-8
      string: |-
        {
          "buildsNumbers" : [ {
            "uri" : "/0.5.180",
            "started" : "2016-08-25T15:50:01.590+0000"
          }, {
            "uri" : "/0.5.185",
            "started" : "2016-08-25T23:51:39.866+0000"
          }, {
            "uri" : "/0.5.167",
            "started" : "2016-08-22T19:20:32.850+0000"
          }, {
            "uri" : "/0.5.200",
            "started" : "2016-08-31T15:05:35.002+0000"
          }, {
            "uri" : "/0.3.240",
            "started" : "2015-08-26T20:11:27.272+0000"
          }, {
            "uri" : "/0.5.174",
            "[...]
- request:
    method: get
    uri: https://packages.chef.io/api/v1/unstable/delivery/0.5.207/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Artifactory-Id:
      - c1ec6ca2696a3944:3eed5ced:156c20cd259:-7f6b
      Fastly-Debug-Digest:
      - bd67e77cc30c2d2b9c8a954013050ecd001421aaddcf8c0b2b2be8ce27eb1b2e
    body:
      encoding: UTF-8
      string: |2

        {
        "results" : [ {
          "repo" : "omnibus-unstable-local",
          "path" : "com/getchef/delivery/0.5.207/ubuntu/12.04",
          "name" : "delivery_0.5.207-1_amd64.deb",
          "properties" : [ {
            "key" : "omnibus.md5",
            "value" : "a46b4d015cd43e86286fe5daae5c6ba0"
          }, {
            "key" : "omnibus.sha256",
            "value" : "3fa8e3341253174bc0fb916e39db37c5ba9ce7ca04d9b6e4ad6af17679838d68"
          }, {
            "key" : "omnibus.iteration",
            "value" : "1"
          }, {
            "key" : "omnibus.project",
            "value" : "delivery"
          }, {
            "key" : "omnibus.sha512",
            "value" : "0ff4e21b7b3150964446c8f34398f973167aba37b29eb0959ca28f9adf577545a2393ad51e5b9[...]
[...]
