---
"on":
  workflow_call:

permissions:
  contents: read

concurrency:
  group: integration-${{ github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby:
          - 2.6
          - 2.7
          - "3.0"
          - 3.1
          - 3.2
          - 3.3
          - 3.4
    steps:
      - name: Enable long paths on Windows
        if: runner.os == 'Windows'
        run: |
          # Enable Windows long paths
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force -ErrorAction SilentlyContinue
          # Enable Git long paths
          git config --global core.longpaths true
        shell: powershell
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Chef Omnibus download Test
        run: bundle exec mixlib-install download chef
      - name: Chef Licensed download Test
        run: bundle exec mixlib-install download chef -L free-79df705d-b685-419a-8b68-88401f74ff72-3999
