---
"on":
  workflow_call:

permissions:
  contents: read

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cookstyle:
    env:
      BUNDLE_WITH: ${{ inputs.bundle_with }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - uses: r7kamura/rubocop-problem-matchers-action@v1
      - name: Cook Style
        run: bundle exec chefstyle --display-cop-names

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  jsonlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run JSON Lint
        run: |
          sudo apt-get update
          sudo apt-get install -y jsonlint
          find . -name "*.json" -not -path "*/node_modules/*" -not -path "*/.git/*" -exec echo "Linting {}" \; -exec jsonlint -q {} \;

  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: |
            *.md
            !CHANGELOG.md

  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gaurav-nelson/github-action-markdown-link-check@1.0.17
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
          check-modified-files-only: "yes"
          base-branch: "main"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Unit Tests
    needs:
      - cookstyle
      - jsonlint
      - yamllint
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        ruby:
          - 2.6
          - 2.7
          - "3.0"
          - 3.1
          - 3.2
          - 3.3
          - 3.4
    steps:
      - name: Enable long paths on Windows
        if: runner.os == 'Windows'
        run: |
          # Enable Windows long paths
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force -ErrorAction SilentlyContinue
          # Enable Git long paths
          git config --global core.longpaths true
        shell: pwsh
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup Machine
        run: |
          bundle install
      - name: Rake Test
        run: bundle exec rake
